$color-grey: #636466;

.post-meta {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 1.5em;
  color: rgba($color-grey, .65);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.breadcrumbs, .date {
  margin-right: 40px;
  margin-bottom: 4px;
  a {
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
}

.time {
  svg {
    margin-bottom: -1px;
  }
}
