$color-grey: #606770;

.post-meta {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 1.5em;
  color: $color-grey;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.breadcrumbs {
  margin-right: 10px;
  margin-bottom: 4px;
  a {
    // color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
}

.bcTitle {
  display: inline-block;
  vertical-align: bottom;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media screen and (min-width: 768px) {
    max-width: 215px;
  }
}

.time {
  svg {
    margin-bottom: -1px;
  }
}
