// Import
// ===================================================
@import "../styles/base/colors"; //colors
@import "../styles/base/align"; //default padding left right max-width

.siteMain {
  padding: 50px $plr;
  max-width: $max-width;
  margin: 0px auto;

  @media screen and (min-width: 768px) {
    padding-left: $plrls;
    padding-right: $plrls;
  }

  @media screen and (min-width: 960px) {
    display: flex;
    flex-direction: row-reverse;
    -moz-box-pack: end;
    justify-content: flex-end;
  }
}
.singlePost {
  max-width: 730px;
  margin: 40px auto;

  img {
    margin-bottom: 15px;
  }

  @media screen and (min-width: 960px) {
    // flex: 0 1 60%;
    max-width: 700px;
    margin-bottom: 0;
    margin-left: 2rem;
    width: 67%;
  }
}
.entryHeader {
  h1 {
    font-size: 21px;
    font-weight: 700;
    line-height: 29.4px;
    margin-bottom: 1.1rem;

    @media screen and (min-width: 600px) {
      font-size: 24px;
    }
    @media screen and (min-width: 768px) {
      font-size: 28px;
    }
  }
}
.content {
  font-size: 15px;
  line-height: 22px;
  font-weight: inherit;

  ol li {
    list-style: decimal;
  }

  li {
    margin-bottom: 0.2333333333335em;
  }

  li > p {
    margin-bottom: 0 !important;
  }

  a {
    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }

  ul li {
    position: relative;
    padding: 0 0 0 1.5rem;

    &::after {
      content: "";
      display: block;
      width: 6px;
      height: 6px;
      background: $color-dark-a70;
      position: absolute;
      top: 0.6em;
      left: 5px;
      margin-top: 0;
    }
  }

  ol {
    margin-left: 20px;
  }

  p,
  ul,
  ol {
    margin-bottom: 15px;
  }
  h2 {
    font-size: 19px;
    @media screen and (min-width: 600px) {
      font-size: 22px;
    }
    @media screen and (min-width: 768px) {
      font-size: 26px;
    }
  }
  h3 {
    font-size: 17px;
    @media screen and (min-width: 600px) {
      font-size: 20px;
    }
    @media screen and (min-width: 768px) {
      font-size: 24px;
    }
  }
  h2,
  h3 {
    line-height: 28px;
    margin-bottom: 1rem;
    font-weight: 700;
  }
}

.content ol + h2,
.content ol + h3,
.content p + h2,
.content p + h3,
.content ul + h2,
.content ul + h3,
.content h2,
.content h3 {
  padding-top: 0.5em;
}

.secondary {
  max-width: 730px;
  margin: 0 auto;
  @media screen and (min-width: 960px) {
    margin: 0px;
    flex: 0 1 18%;
  }
}
.secondaryContent {
  @media screen and (min-width: 960px) {
    top: 100px;
    position: sticky;
  }
}
.tags {
  @media screen and (min-width: 960px) {
    margin-bottom: 1.5rem;
  }
}
.navigateContainer {
  margin-top: 2rem;
  @media screen and (min-width: 960px) {
    margin-bottom: 1.5rem;
  }
}
.share {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    top: 0px;
    background: $color-grey-a30 none repeat scroll 0% 0%;
  }
}
