$content-max-width: 76rem;
$link-color: #e55e34;
$scroll-bg-color: rgba(229, 94, 52, 0.8); //rgb(32, 35, 42);
$main-white: #fff; 
$meta: #202428;//#888;
$separator: #707788;
$sidebar-color: rgba(8, 9, 10, .8); // #4d5760;
$main-aside-max-width: 730px;
$base-font-size: 1rem;
$base-container-LR-padding: 20px;
$border-color: #f2f2f2;;


@mixin transition {
  transition: all 0.5s ease-out;
}

.container {
  max-width: $content-max-width;
  margin: 0 auto;
  padding: 0 $base-container-LR-padding;
  width: 100%;

  @media screen and (min-width: 960px) {
    display: flex;
    justify-content: space-between;
  }
}
.wrap {
  padding-top: 3rem;
  padding-bottom: 3.2rem;

  @media screen and (min-width: 768px) {
    // padding-top: 4.15rem;
    padding-bottom: 3.7rem;
    flex-direction: row;
  }
}

.site-main {
  padding-bottom: 3.75rem;
  max-width: $main-aside-max-width;
  margin: 0 auto;

  img {
    margin-bottom: 1.666667rem;
  }

  @media screen and (min-width: 960px) {
    width: 61.34%;
    margin: 0;
    background-color: $main-white;
    padding: 25px;
    border: 1px solid #f0f0f0;
  }
  @media screen and (min-width: 1300px) {
    width: 67%;
    max-width: 780px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.secondary-area {
  font-size: 0.825rem;
  letter-spacing: 0.25px;
  max-width: $main-aside-max-width;
  margin: 0 auto;
  color: $sidebar-color;

  @media screen and (min-width: 960px) {
    width: 30.134%;
    margin: 0;
  }
  @media screen and (min-width: 1280px) {
    width: 29%;
  }
}

// post tags
.post-tags {
  display: flex;
  list-style: none;
  flex-flow: wrap;

  li {
    margin-right: 0.46rem;
    margin-bottom: 0.66rem;
    a {
      text-decoration: none;
      // background-color: #e5f5f8;
      font-size: 0.755rem;
      padding: 4px 7px 6px;
      border-radius: 0.24rem;
      line-height: 1;
      // color: #33475b;
      span {
        opacity: .4;
      }
    }
  }
}

.tag-links {
  // border-top: 1px solid #f2f2f2;
  // border-bottom: 1px solid #f2f2f2;
  // margin-top: 50px;
  // padding: 29px 0;

  // @media screen and (min-width: 960px) {
  //   border-bottom: none;
  // }

  ul {
    margin-bottom: 10px;
  }
}

.entry-header .title {
  font-size: 1.8rem;
  line-height: 1.23333;
  margin: 0 0 1.2rem;
  font-weight: 700;

  @media screen and (min-width: 480px) {
    font-size: 2rem;
  }

  @media screen and (min-width: 960px) {
    font-size: 2.8rem;
  }
}
.post-meta {
  font-size: 14px;
  line-height: 1.6;
  // font-weight: 300;
  margin-bottom: 2em;
  color: $meta;
}

.avatar-container {
  width: 32px;
  height: auto;
  border-radius: 100%;
  margin-right: 7px;
  margin-bottom: -6px;
  display: inline-block;
  position: relative;

  &:after {
    content: "";
    border: 1px solid #353535;
    opacity: 0.15;
    width: 100%;
    height: 100%;
    position: absolute;
    left: -1px;
    top: -1px;
    border-radius: 100%;
    pointer-events: none;
  }
}

.author-avatar {
  color: inherit;
  img {
    border-radius: 100%;
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-bottom: 0px;
  }
  &:hover,
  &:focus {
    color: $meta;
    text-decoration: underline;
  }
}
.edit-post {
  color: $meta;
  margin: 4px;
  svg {
    font-size: 9px;
    margin-left: 3px;
  }
  &:hover, &:focus {
    color: $meta;
    text-decoration: underline;
  }
}
.divider {
  margin-right: 7px;
  position: relative;
  &::after {
    content: "";
    display: block;
    width: 2px;
    height: 2px;
    background: $separator;
    position: absolute;
    top: 8px;
    left: 4px;
  }
}

.inlineBlockStyle {
  display: inline-block;
}

.featured-image {
  margin-bottom: 1.666667rem;
  margin-left: -20px;
  margin-right: -20px;

@media screen and (min-width: 480px) {
  margin-left: 0px;
  margin-right: 0px;
}

  @media screen and (min-width: 960px) {
    margin-bottom: 1.8667rem;
  }
}
.entry-content {
  line-height: 1.6;
  font-weight: inherit;
  font-size: $base-font-size;

  @media screen and (min-width: 768px) {
    line-height: 1.65;
    font-size: 1.02rem;
  }

  ol li {
    list-style: decimal;
  }

  li {
    margin-bottom: 0.2333333333335em;
  }

  li > p {
    margin-bottom: 0 !important;
  }

  a {
    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }

  ul li {
    position: relative;
    padding: 0 0 0 1.5rem;

    &::after {
      content: "";
      display: block;
      width: 6px;
      height: 6px;
      background: $link-color;
      position: absolute;
      top: 0.72em;
      left: 5px;
      margin-top: 0;
    }
  }

  ol {
    margin-left: 20px;
  }

  p,
  ul,
  ol {
    margin-bottom: 20px;
  }
  h2 {
    font-size: 1.5rem;
    @media screen and (min-width: 480px) {
      font-size: 1.65rem;
    }
    @media screen and (min-width: 768px) {
      font-size: 1.9rem;
    }
  }
  h3 {
    font-size: 1.05rem;
    @media screen and (min-width: 480px) {
      font-size: 1.3rem;
    }
  }
  h2,
  h3 {
    line-height: 1.3777em;
    margin-bottom: 1.8rem;
    font-weight: 600;
  }
}

.entry-content ol + h2,
.entry-content ol + h3,
.entry-content p + h2,
.entry-content p + h3,
.entry-content ul + h2,
.entry-content ul + h3,
.entry-content h2,
.entry-content h3 {
  padding-top: 1em;
}

// p img {
//   padding-bottom: 10px;
// }

// =====================================================
// Social Shares
// ======================

@mixin transition {
  transition: all 0.5s ease-out;
}

.share-container {
  padding: 1.9375rem 0;
  text-align: left;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.share-title {
  font-size: 1.6rem;
  padding: 0;
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 0;
  text-transform: capitalize;
}

.bottom-social-share {
  margin: 3rem 0 2rem;
  .share-container {
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
  }
  .share-title {
    margin-right: 20px;
    display: none;
    @media screen and (min-width: 480px) {
      display: block;
    }
  }
  .social-share {
    // margin-top: 1.5rem;
    ul {
      display: flex;
      flex-flow: row wrap;
      margin: 0;

      li {
        margin: 8px 0;
        a {
          border-radius: 2px;
          cursor: pointer;
          margin: 0 9px 3px 0;
          padding: 7px 21px 6px;
          color: #fff;
          @include transition;
          &:hover {
            opacity: 0.8;
          }

          @media screen and (min-width: 480px) {
            padding: 8px 30px 7px;
        }
        }
      }
    }
  }
}

.side-social-share {
  display: none;

  @media screen and (min-width: 960px) {
    display: block;
  }

  .share-container {
    @media screen and (min-width: 960px) {
      left: 62.5%;
    }

    @media screen and (min-width: 1300px) {
      left: 6px;
      transform: translateX(-150%);
    }

    @media screen and (min-width: 1340px) {
      left: 12px;
    }

    position: fixed;
    top: 92px;
    text-align: center;
    padding: 0;
    border: 0;

    &.shareNotInView {
      visibility: hidden;
      transition: all 0.5s ease-out;
    }

    &.shareInView {
      visibility: visible;
      transform: translateX(0);
      transition: all 0.5s ease-out;
    }
  }
  .share-title {
    font-size: 1rem;
    display: none;

    @media screen and (min-width: 480px) {
      display: block;
    }
  }
  ul {
    margin: 0;
    li {
      margin: 21px 0;
      a {
        border-radius: 2px;
        cursor: pointer;
        padding: 9px 21px 6px;
        color: #fff;
        &:hover {
          opacity: 0.8;
        }
        // @media screen and (min-width: 1300px) {
        //   padding-left: 27px;
        //   padding-right: 27px;
        // }
      }
    }
  }
}

.twitter {
  background: #429cd6;
  border: 1px solid #429cd6;
}

.facebook {
  background: #3a589e;
  border: 1px solid #3a589e;
}

.linkedin {
  background: #0d77b7;
  border: 1px solid #0d77b7;
}

// Scoll Top
.scroll-top {
  position: fixed;
  right: 8px;
  bottom: 30px;
  height: 50px;
  width: 50px;
  box-shadow: 0 4px 8px #dadce0;
  display: block;
  margin: -35px 10px 0 0;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: $scroll-bg-color; 
  border-radius: 50%;
  line-height: 1;
  font-size: 13px;
  transition: background-color 0.2s ease;

  &:hover {
    svg {
      padding-top: 3px;
    }
    color: $main-white;
  }

  svg {
    display: block;
    margin: 7px 0 2px 17px;
    font-size: 16px;
  }

  @media screen and (min-width: 768px) {
    right: 12px;
    bottom: 100px;
  }
  @media screen and (min-width: 1280px) {
    bottom: 30px;
  }
}

// =====================================================
// Comments
// ======================

.commentSection {
  .title {
    border-bottom: 1px solid $border-color;
    margin-bottom: 1rem;
    padding-bottom: 1.3rem;
    font-weight: 600;
    font-size: 1.5rem;

    @media screen and (min-width: 480px) {
      font-size: 1.65rem;
    }
  }
}