$content-max-width: 72rem;
$link-color: #f44f18;
$main-white: #fff;

@mixin transition {
  transition: all 0.5s ease-out;
}

.container {
  max-width: $content-max-width;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;

  @media screen and (min-width: 960px) {
    display: flex;
    justify-content: space-between;
  }
}
.wrap {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;

  @media screen and (min-width: 768px) {
    padding-top: 4.15rem;
    padding-bottom: 5rem;
    flex-direction: row;
  }
}
.site-main {
  padding-bottom: 3.75rem;
  max-width: 690px;
  margin: 0 auto;

  img {
    margin-bottom: 1.666667rem;
    // box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.15) !important;
    // -webkit-box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.15) !important;
  }

  @media screen and (min-width: 960px) {
    padding-bottom: 0;
    width: 59.34%;
    margin: 0;
  }
  @media screen and (min-width: 1345px) {
    width: 60%;
  }
}

.secondary-area {
  font-size: 0.875rem;
  letter-spacing: 0.25px;
  max-width: 660px;
  margin: 0 auto;
  @media screen and (min-width: 960px) {
    width: 33.134%;
    margin: 0;
  }
}

// post tags
.post-tags {
  display: flex;
  list-style: none;
  flex-flow: wrap;

  li {
    margin-right: 0.46rem;
    margin-bottom: 0.66rem;
    a {
      text-decoration: none;
      background-color: rgba(#8c8c8c, 0.8);
      font-size: 0.755rem;
      padding: 4px 7px 6px;
      border-radius: 0.24rem;
      line-height: 1;
      color: $main-white;
      @include transition;

      &:hover {
        background-color: rgba(#8c8c8c, 1);
      }
    }
  }
}

.tag-links {
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  margin-top: 50px;
  padding: 29px 0;

  ul {
    margin-bottom: 0;
  }
  //margin-bottom: 1.1rem;
}

.entry-header .title {
  font-size: 1.5rem;
  line-height: 1.33333;
  //padding: 0.566rem 0 0;
  margin: 0 0 1.2rem;

  @media screen and (min-width: 480px) {
    font-size: 1.75rem;
  }

  @media screen and (min-width: 960px) {
    font-size: 1.85rem;
  }
}
.date-published {
  font-size: 0.77rem;
  line-height: 1.66667rem;
  font-weight: 300;
  color: #7b8086;
  margin-bottom: 1.58333em;
}
.edit-post {
  svg {
    font-size: 9px;
    margin-left: 3px;
  }
  &:hover {
    text-decoration: underline;
  }
}
.divider {
  margin-right: 10px;
  position: relative;
  &::after {
    content: "";
    display: block;
    width: 2px;
    height: 2px;
    background: #727274;
    position: absolute;
    top: 6px;
    left: 5px;
  }
}

.featured-image {
  margin-bottom: 1.666667rem;

  @media screen and (min-width: 960px) {
    margin-bottom: 1.8667rem;
  }
}
.entry-content {
  line-height: 1.8em;
  // word-wrap: break-word;
  // hyphens: auto;
  font-weight: 300;
  font-size: 1rem;

  //letter-spacing: 0;

  // @media screen and (min-width: 768px) {
  //   font-size: 1.035rem;
  // }
  // @media screen and (min-width: 768px) {
  //   letter-spacing: 0.025em;
  // }

  ol li {
    list-style: decimal;
  }

  li {
    margin-bottom: 0.2333333333335em;
  }

  li > p {
    margin-bottom: 0 !important;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  ul li {
    position: relative;
    padding: 0 0 0 1.9rem;
    font-size: 1rem;

    &::after {
      content: "";
      display: block;
      width: 6px;
      height: 6px;
      background: $link-color;
      position: absolute;
      top: 0.8333333333335em;
      left: 5px;
      margin-top: 0;
    }
  }

  // ol,
  // ul {
  //   margin-left: 1.388889rem;
  // }

  p,
  ul,
  ol {
    margin-bottom: 20px;
  }
  h2 {
    font-size: 1.2rem;
    @media screen and (min-width: 480px) {
      font-size: 1.5rem;
    }
  }
  h3 {
    font-size: 1.05rem;
    @media screen and (min-width: 480px) {
      font-size: 1.3rem;
    }
  }
  h2,
  h3 {
    line-height: 1.3777em;
    margin-bottom: 1.2em;
    font-weight: 600;
    color: #f44f18;
  }
}

.entry-content ol + h2,
.entry-content ol + h3,
.entry-content p + h2,
.entry-content p + h3,
.entry-content ul + h2,
.entry-content ul + h3,
.entry-content h2,
.entry-content h3 {
  padding-top: 1.577em;
}

// =====================================================
// Social Shares
// ======================

@mixin transition {
  transition: all 0.5s ease-out;
}

.share-container {
  //display: block;
  padding: 1.9375rem 0 0;
  text-align: left;
  border-top: 1px solid #f2f2f2;
}

.share-title {
  font-size: 1.1875rem;
  padding: 0;
  line-height: 1.6;
  font-weight: 500;
  margin-bottom: 0;
  text-transform: capitalize;

  @media screen and (min-width: 768px) {
    font-size: 1.4375rem;
    line-height: 1.3;
  }
}

.bottom-social-share {
  .social-share {
    margin-top: 1.5rem;
    ul {
      display: flex;
      flex-flow: row wrap;
      margin: 0;

      li {
        margin: 8px 0;
        a {
          border-radius: 2px;
          cursor: pointer;
          margin: 0 9px 3px 0;
          padding: 5px 29px 3px;
          color: #fff;
          @include transition;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}

.side-social-share {
  display: none;

  @media screen and (min-width: 960px) {
    display: block;
  }
  // @media screen and (min-width: 1345px) {
  //   display: block;
  //   left: 20px;
  // }

  .share-container {
    @media screen and (min-width: 960px) {
      left: 59.8%;
    }
    @media screen and (min-width: 1050px) {
      left: 60.1%;
    }
    @media screen and (min-width: 1200px) {
      left: 59.3%;
    }
    @media screen and (min-width: 1345px) {
      left: 20px;
      transform: translateX(-150%);
    }
    position: fixed;
    top: 100px;
    text-align: center;
    padding: 0;
    border: 0;

    &.shareNotInView {
      visibility: hidden;
      transition: all 0.5s ease-out;
    }

    &.shareInView {
      visibility: visible;
      transform: translateX(0);
      transition: all 0.5s ease-out;
    }
  }
  .share-title {
    font-size: 1rem;
  }
  ul {
    margin: 0;
    li {
      margin: 21px 0;
      a {
        border-radius: 2px;
        cursor: pointer;
        //margin: 0 9px 3px 0;
        padding: 9px 21px 6px;
        color: #fff;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

.twitter {
  background: #429cd6;
  border: 1px solid #429cd6;
}

.facebook {
  background: #3a589e;
  border: 1px solid #3a589e;
}

.linkedin {
  background: #0d77b7;
  border: 1px solid #0d77b7;
}

// Scoll Top
.scroll-top {
  position: absolute;
  right: 0;
  height: 50px;
  width: 50px;
  box-shadow: 0 4px 8px #dadce0;
  display: block;
  margin: -35px 10px 0 0; //margin: -47px 10px 0 0;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: #282828;
  border-radius: 50%;
  line-height: 1;
  font-size: 13px;

  &:hover {
    text-decoration: underline;
  }

  svg {
    display: block;
    margin: 1px 0 2px 19px;
    font-size: 12px;
  }
}
