// Import
// ===================================================
@import "../styles/base/colors"; //colors
@import "../styles/base/align"; //default padding left right max-width

$side-max-width: 730px;

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $plr;
  width: 100%;

  @media screen and (min-width: 768px) {
    padding: 0 $plrls;
  }
  @media screen and (min-width: 960px) {
    display: flex;
    justify-content: space-between;
  }
}
.wrap {
  padding-top: 3rem;
  padding-bottom: 3.2rem;

  @media screen and (min-width: 768px) {
    padding-bottom: 3.7rem;
    flex-direction: row;
  }
}

.site-main {
  padding-bottom: 1.3rem;
  max-width: $side-max-width;
  margin: 3rem auto 0px;

  @media screen and (min-width: 960px) {
    margin: 3rem 0 0;
    background-color: $color-white-main;
    order: 1;
    width: 58%;
    max-width: 700px;
  }
}
.singlePost {
  img {
    margin-bottom: 1.666667rem;
  }
  .entryHeader {
    h1 {
      font-size: 21px;
      font-weight: 700;
      line-height: 29.4px;
      margin-bottom: 10px;

      @media screen and (min-width: 600px) {
        font-size: 24px;
      }
      @media screen and (min-width: 768px) {
        font-size: 28px;
      }
    }
  }
}
.secondary-area {
  font-size: 0.825rem;
  letter-spacing: 0.25px;
  max-width: $side-max-width;
  margin: 0 auto;
  color: $primary-color;

  @media screen and (min-width: 960px) {
    width: 29%;
    margin: 3rem 0 0;
    order: 2;
  }
}

.featured-image {
  margin-bottom: 1.666667rem;

  > div:first-child {
    padding-bottom: 50% !important;
  }

  @media screen and (min-width: 960px) {
    margin-bottom: 1.8667rem;
  }
}
.entry-content {
  line-height: 21px;
  font-weight: inherit;
  font-size: 15px;

  ol li {
    list-style: decimal;
  }

  li {
    margin-bottom: 0.2333333333335em;
  }

  li > p {
    margin-bottom: 0 !important;
  }

  a {
    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }

  ul li {
    position: relative;
    padding: 0 0 0 1.5rem;

    &::after {
      content: "";
      display: block;
      width: 6px;
      height: 6px;
      background: $color-grey;
      position: absolute;
      top: 9px;
      left: 5px;
      margin-top: 0;
    }
  }

  ol {
    margin-left: 20px;
  }

  ul,
  ol {
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 16px;
  }
  h2 {
    font-size: 19px;
    @media screen and (min-width: 600px) {
      font-size: 22px;
    }
    @media screen and (min-width: 768px) {
      font-size: 26px;
    }
  }
  h3 {
    font-size: 17px;
    @media screen and (min-width: 600px) {
      font-size: 20px;
    }
    @media screen and (min-width: 768px) {
      font-size: 24px;
    }
  }
  h2,
  h3 {
    line-height: 1.3777em;
    margin-bottom: 1rem;
    font-weight: 700;
  }
}

.entry-content ol + h2,
.entry-content ol + h3,
.entry-content p + h2,
.entry-content p + h3,
.entry-content ul + h2,
.entry-content ul + h3,
.entry-content h2,
.entry-content h3 {
  padding-top: 0.5em;
}

// =====================================================
// Social Shares
// ======================

.socialShare_tablet {
  @media screen and (min-width: 960px) {
    display: none;
  }
}

.socialShare_largeScreen {
  display: none;
  @media screen and (min-width: 960px) {
    display: block;
    width: 5%;
  }
}

// Scoll Top
.scroll-top {
  position: fixed;
  right: 8px;
  bottom: 30px;
  height: 50px;
  width: 50px;
  box-shadow: 0 4px 8px $color-grey-a30;
  display: block;
  margin: -35px 10px 0 0;
  cursor: pointer;
  text-align: center;
  color: $color-white-main;
  background-color: rgba($color-light-pink, 0.8);
  border-radius: 50%;
  line-height: 1;
  font-size: 13px;
  transition: background-color 0.2s ease;

  &:hover {
    svg {
      padding-top: 3px;
    }
    color: $color-white-main;
  }

  svg {
    display: block;
    margin: 7px 0 2px 17px;
    font-size: 16px;
  }

  @media screen and (min-width: 768px) {
    right: 12px;
    bottom: 100px;
  }
  @media screen and (min-width: 1280px) {
    bottom: 30px;
  }
}

// =====================================================
// Comments
// ======================

.commentSection {
  margin-top: 2rem;
  .title {
    border-bottom: 1px solid $color-grey-a10;
    margin-bottom: 1rem;
    padding-bottom: 1.3rem;
    font-weight: 600;
    font-size: 1.5rem;

    @media screen and (min-width: 480px) {
      font-size: 1.65rem;
    }
  }
}
