// Globals
// ===================================================

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

:root {
  --primary-color: #08090a; // #08090ae6; // #3c4043; 
  --header-color: var(--primary-color);
  --bg-secondary: #1d2b35; 
  --main-white: hsla(0, 0%, 100%, 0.878);
  --main-spacing: 0.1rem;
  --home-bg-banner: #282c34;
  --link-color: #ee6d41;
  --link-hover: #ea4812;
  --btn-bg-color: var(--link-color);
  --button-hover: var(--link-hover);
  --hr-dark: hsla(0, 0%, 100%, 0.2);
  --dark-color: rgba(49, 45, 45, 0.2);
}

body {
  color: var(--primary-color);
  font-size: 100%;
  font-weight: 400;
  line-height: 1.42857143;
  font-family: "Lato", "Open Sans", "Nunito", "Helvetica Neue", Helvetica,
    "Segoe UI", sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

// mixins
@mixin transition {
  transition: all 0.5s linear;
}

a {
  color: var(--link-color);
  background-color: transparent;
  outline: none;
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--link-hover);
  }
}

strong,
b {
  font-weight: bold;
}

ol,
ul {
  list-style: none;
}

dl,
ol,
p,
table,
ul {
  margin: 0 0 1.667rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--header-color);
  font-weight: 700;
}

h2 a,
h2 a:hover {
  color: var(--header-color);
}

blockquote {
  color: rgba(0, 0, 0, 0.8);
  border-left: 8px solid #ffe564;
  background: rgba(255, 229, 100, 0.3);
  border-radius: 4px;
  font-weight: 500;
  margin: 1.5rem 0;
  padding: 20px;
  line-height: 1.6;
  font-size: inherit;

  p:last-of-type {
    margin-bottom: 0;
  }

  @media screen and (min-width: 768px) {
    padding: 20px 32px 20px 26px;
  }
}

.prerequisite {
  font-size: 1.5rem;
  color: var(--header-color);
  line-height: 1.3777em;
  margin-bottom: 1.8rem;
  font-weight: 600;
  padding-top: 1.4em;

  @media screen and (min-width: 480px) {
    font-size: 1.65rem;
  }
  @media screen and (min-width: 768px) {
    font-size: 1.9rem;
  }
}

// Code
// =================================================

code[class*="language-"],
pre,
pre[class*="language-"],
pre code {
  font-size: 14px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

pre[class*="language-"] {
  margin: 0 !important;
  padding: 2em 15px !important;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.15);

  @media screen and (min-width: 600px) {
    padding: 2em !important;
  }
}
code,
pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] :not(pre) > code,
p > code,
li > code {
  background: #f0f0f0 !important;
  color: #111;
  text-shadow: none;
  border-radius: 2px;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] :not(pre) > code,
p > code,
li > code,
p > a > code,
li > a > code {
  padding: 1px 6px !important;
  word-break: break-word;
}

// Prism Highligter
// =================================================

.filename {
  background: #151414;
  padding: 0.5rem 1rem 0.5rem;
  font-size: 1rem;
  color: #fff;
  font-weight: 700;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-bottom: -0.7rem;
}

.token.class-name {
  text-decoration: none !important;
}

.gatsby-highlight-code-line {
  background-color: #262c35;
  display: block;
  margin-right: -28px;
  margin-left: -28px;
  padding-right: 28px;
  padding-left: 28px;
}

.gatsby-highlight,
blockquote {
  overflow: auto;
  margin: 2rem -20px;
  border-radius: 0;

  @media screen and (min-width: 600px) {
    margin: 2rem 0px;
    border-radius: 0.3em;
  }
  @media screen and (min-width: 960px) {
    margin: 2rem -25px;
    border-radius: 0;
  }
  @media screen and (min-width: 1300px) {
    margin: 2rem -40px;
    border-radius: 0;
  }
}

.gatsby-highlight pre[class*="language-"] {
  float: left; /* 1 */
  min-width: 100%; /* 2 */
  border-radius: 0;
}

blockquote .gatsby-highlight {
  margin-top: 20px;
  margin-bottom: 0;
}

blockquote .gatsby-highlight + p {
  margin-top: 20px;
}

// Gatsby default image class
.gatsby-resp-image-wrapper {
  margin-top: 35px;
  margin-bottom: 35px;
}

// =====================================================
// Blog
// ======================

// ===========================================

@media screen and (min-width: 480px) {
  .recentTitle {
    margin-left: 3.375rem !important;
    margin-right: 3.375rem !important;
  }
}

@media screen and (min-width: 960px) {
  .recentTitle {
    margin-left: 2.375rem !important;
    margin-right: 2.375rem !important;
  }
}

// Posts inter-link

.series-link-container {
  border: 1px solid #f2f2f2;
  padding: 8px 12px;
  margin: 35px 0;

  p {
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 41px;
      height: 2px;
      background: var(--link-color);
      position: absolute;
      bottom: -12px;
      left: 0px;
      margin-top: 23px;
    }
  }

  ul {
    margin: 0 !important;

    li {
      list-style: none;
      padding: 0 !important;

      &::after {
        content: normal !important;
      }
    }
  }
}

// heading liks svg

.anchor {
  svg {
    display: none;
  }
}

/* ======================
Subscribe Form
================================ */

.field__input,
.field__submit {
  height: 50px;
  font-size: inherit;
  border-radius: 3px;
}

.field__input {
  padding: 0px 25px;
  border: 1px solid #e6e6e6;
  margin-bottom: 4px;
  color: #444;
  outline: none;

  @media screen and (min-width: 960px) {
    flex: 6;
    margin-bottom: 0;
  }
}

.status__success {
  color: #282828;
  font-weight: 400;
}

.status__error {
  color: #ff0000;
  font-weight: 400;
  a {
    text-decoration: underline;
  }
}

.status__success,
.status__error {
  margin-top: 10px;
  font-size: 13px;
}

.field__submit {
  color: #fff;
  background: var(--btn-bg-color);
  border: 1px solid var(--btn-bg-color);
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 0.04em;
  @include transition;
  cursor: pointer;

  @media screen and (min-width: 960px) {
    flex: 4;
    font-size: 1rem;
    margin-left: -3px;
  }

  &:hover {
    color: #fff;
    background: var(--button-hover);
    border: 1px solid var(--button-hover);
  }
}

// Home Page Subscribe

.home__subscribe {
  display: inline-block;
  .form__container {
    text-align: left;
  }
  .field__input {
    border: none;
    border-bottom: 1px solid var(--dark-color);
    padding-left: 10px;
    padding-right: 10px;
    height: 35px;
    border-radius: unset;
    background: transparent;
  }
  .field__submit {
    display: none;
  }
  .status__success,
  .status__error {
    display: table;
  }
}

// About Subscribe

.about__subscribe {
  .form__fields {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    margin: 0 auto;
    @media screen and (min-width: 960px) {
      flex-direction: row;
      max-width: 33rem;
      margin: 0;
    }
  }

  .field__submit {
    @media screen and (min-width: 960px) {
      flex: 4;
      font-size: 1rem;
      margin-left: -3px;
    }
  }
}

// Sidebar Subscribe

.sidebar__subscribe {
  .form__fields {
    display: flex;
    flex-direction: column;

    @media screen and(min-width: 600px) {
      flex: 1;
      flex-direction: row;
    }

    @media screen and(min-width: 960px) {
      flex-direction: column;
    }
  }

  .field__input {
    margin-bottom: 8px;
    @media screen and(min-width: 600px) {
      flex: 0.7;
    }
    @media screen and(min-width: 960px) {
      flex: auto;
    }
  }

  .field__submit {
    margin-bottom: 5px;
    @media screen and(min-width: 600px) {
      flex: 0.5;
      margin-left: -2px;
    }
    @media screen and(min-width: 960px) {
      flex: auto;
      margin-left: 0px;
    }
  }

  .field__input,
  .field__submit {
    height: 40px;
  }

  .status__success,
  .status__error {
    margin-bottom: 15px;
    text-align: left;
  }
}

/* ======================
DARK LIGHT MODE
======================= */

// light mode theme

body {
  &.light-mode {
    background: var(--main-white);
  }

  //Dark mode theme

  &.dark-mode {
    color: var(--main-white);
    background: var(--bg-secondary);

    h1, h2, h3, h4, h5, h6 {
      color: var(--main-white);
    }

    .top__header {
      box-shadow: none;
      background: var(--bg-secondary);
      border-bottom: 1px solid var(--hr-dark);
    }

    .menu__btn div {
      background-color: var(--main-white);
      opacity: .8;
    }

    .menu__nav {
      background: var(--bg-secondary);
    }

    .nav__link {
      color: var(--main-white);
      opacity: 0.8;

      @media screen and (min-width: 768px) {
        color: var(--main-white) !important;

        &:after {
          background: var(--main-white);
        }
      }
    }

    .tag__container, .secondary__area, .nav__close, .edit__post {
      color: var(--main-white);
      opacity: 0.8;
    }

    .darkLight__link,
    .content__right a {
      svg {
        color: var(--main-white);
        opacity: 0.8;
      }
    }

    .drop__down {
      background: var(--bg-secondary);

      ul {
        color: var(--main-white);
      }
    }

    .select__box {
      &:after {
        background: var(--main-white);
      }

      .arrow___up {
        border-bottom: 8px solid var(--main-white);
      }
      .arrow__down {
        border-top: 8px solid var(--main-white);
      }
    }

    .post__meta,
    .get_inTouch,
    .prerequisite,
    blockquote,
    .status__success {
      color: var(--main-white);
    }

    .list__item {
      border-color: var(--hr-dark);
      a {
        color: var(--main-white);
        div,
        span {
          color: inherit;
        }
      }
    }

    .email__input,
    .form__field {
      input,
      textarea {
        color: var(--main-white);
        background: transparent;
        border-color: var(--hr-dark);
      }
    }

    .email__input {
      border-color: var(--hr-dark) !important;
    }

    footer,
    .blogpage__main,
    aside div,
    aside div > ul {
      border-color: var(--hr-dark);
    }

    .about__content_wrap,
    .subscribe__content {
      border-color: var(--hr-dark);
      background: var(--bg-secondary);
    }

    main,
    .recent__post,
    .sign__up,
    .list__container > ul {
      background: var(--bg-secondary);
    }

    .hero__container,
    .about__hero {
      background-image: none;
    }

    .list__container {
      a {
        &:after {
          background: var(--main-white);
        }
      }
    }

    .tag__list__container {
      a {
        color: var(--main-white);
      }
    }

    .sidebarTitle {
      border-color: var(--hr-dark) !important;
    }
    //end dark mode
  }
}
