// Import
// ===================================================
@import "./base/colors"; //colors
@import "./base/mixins"; //mixins
@import "./base/font"; //mixins

// Globals
// ===================================================

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

:root {
  --primary-color: #{$primary-color};
  --dark-color: #{$dark-color};
  --color-white-a80: #{$color-white-a80};
  --color-white-main: #{$color-white-main};
  --color-light-pink: #{$color-light-pink};
  --color-dark-pink: #{$color-dark-pink};
  --color-bg-dm-pry: #{$color-bg-dm-pry};
  --color-bg-dm-secondary: #{$color-bg-dm-secondary};
  --color-light-blue: #{$color-light-blue};
  --color-dark-blue: #{$color-dark-blue};
  --color-white-a20: #{$color-white-a20};
  --color-grey: #{$color-grey};
  --color-grey-a10: #{$color-grey-a10};
  --color-grey-a20: #{$color-grey-a20};
}

body {
  color: var(--primary-color);
  font-size: 100%;
  font-weight: 400;
  line-height: 1.42857143;
  font-family: $fonts;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

a {
  color: var(--color-light-blue);
  background-color: transparent;
  outline: none;
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--color-dark-blue);
  }
}

strong,
b {
  font-weight: bold;
}

ol,
ul {
  list-style: none;
  margin-bottom: 30px;
}

dl,
ol,
p,
table,
ul {
  margin: 0 0 1.667rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
  font-weight: 700;
}

h2 a {
  color: var(--dark-color);
}

blockquote {
  color: rgba(0, 0, 0, 0.8);
  border-left: 8px solid #d9e9f9;
  background: #f8f9fa;
  border-radius: 0 8px 8px 0;
  margin: 1.5rem 0;
  padding: 20px;
  font-size: inherit;

  p:last-of-type {
    margin-bottom: 0;
  }

  @media screen and (min-width: 768px) {
    padding: 20px 32px 20px 26px;
  }
}

//button

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 3px;
  color: var(--color-white-a80);
  background: var(--color-light-pink) none repeat scroll 0% 0%;
  padding: 10px;
  border: 1px solid var(--color-light-pink);

  text-transform: uppercase;
  cursor: pointer;
  border-radius: 2px;
  @include transition;

  @media screen and (min-width: 480px) {
    padding: 0.6rem 0.9rem;
  }

  &:hover,
  &:focus {
    background: transparent none repeat scroll 0% 0%;
    color: var(--primary-color);
  }
}

.prerequisite {
  font-size: 19px;
  color: var(--dark-color);
  line-height: 1.3777em;
  margin-bottom: 1.8rem;
  font-weight: 700;
  padding-top: 0.5em;

  @media screen and (min-width: 600px) {
    font-size: 22px;
  }
  @media screen and (min-width: 768px) {
    font-size: 26px;
  }
}

// Code
// =================================================

code[class*="language-"],
pre,
pre[class*="language-"],
pre code {
  font-size: 14px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

pre[class*="language-"] {
  margin: 0 !important;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.15);

  @media screen and (min-width: 600px) {
    padding: 1.5em !important;
  }
}
code,
pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] :not(pre) > code,
p > code,
li > code {
  background: #f0f0f0 !important;
  color: #111;
  text-shadow: none;
  border-radius: 2px;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] :not(pre) > code,
p > code,
li > code,
p > a > code,
li > a > code {
  padding: 1px 6px !important;
  word-break: break-word;
}

// Prism Highligter
// =================================================

.filename {
  background: #151414;
  padding: 0.5rem 1rem 0.5rem;
  font-size: 1rem;
  color: var(--color-white-main);
  font-weight: 700;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-bottom: -0.7rem;
}

.token.class-name {
  text-decoration: none !important;
}

.gatsby-highlight-code-line {
  background-color: #262c35;
  display: block;
  margin-right: -14px;
  margin-left: -14px;
  padding-right: 1em;
  padding-left: 1em;

  @media screen and (min-width: 600px) {
    margin-right: -21px;
    margin-left: -21px;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}

.gatsby-highlight {
  overflow: auto;
  margin: 1.5rem 0px;
}

.gatsby-highlight pre[class*="language-"] {
  float: left;
  min-width: 100%;
  border-radius: 0;
}

blockquote .gatsby-highlight {
  margin-top: 20px;
  margin-bottom: 0;
}

blockquote .gatsby-highlight + p {
  margin-top: 20px;
}

// Gatsby default image class
.gatsby-resp-image-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

// Home page header
// =================================================
.home-page .top_header {
  @media screen and (min-width: 768px) {
    background: transparent none repeat scroll 0% 0%;
    border-bottom: 1px solid transparent;
    box-shadow: none;

    a,
    svg {
      color: var(--color-white-a80);

      &:hover {
        color: var(--color-white-a80) !important;
      }
    }
  }
}

// Top header (Other pages)

.top_header {
  background: var(--color-white-main) none repeat scroll 0% 0%;
}

// =====================================================
// Blog
// ======================

// ===========================================

@media screen and (min-width: 480px) {
  .recentTitle {
    margin-left: 3.375rem !important;
    margin-right: 3.375rem !important;
  }
}

@media screen and (min-width: 960px) {
  .recentTitle {
    margin-left: 2.375rem !important;
    margin-right: 2.375rem !important;
  }
}

// Posts inter-link

.series-link-container {
  border: 1px solid #f2f2f2;
  padding: 8px 12px;
  margin: 35px 0;
  background: #f9f9f9;

  p {
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 41px;
      height: 2px;
      background: var(--color-light-blue);
      position: absolute;
      bottom: -12px;
      left: 0px;
      margin-top: 23px;
    }
  }

  ul {
    margin: 0 !important;

    li {
      list-style: none;
      padding: 0 !important;

      &::after {
        content: normal !important;
      }
    }
  }
}

// heading liks svg

.anchor {
  svg {
    display: none;
  }
}

/* ======================
Subscribe Form
================================ */

.field__input,
.field__submit {
  height: 50px;
  font-size: inherit;
  border-radius: 3px;
}

.field__input {
  padding: 0px 15px;
  border: 1px solid #e6e6e6;
  margin-bottom: 4px;
  color: inherit;
  outline: none;
  background: transparent;
}

.status__success {
  color: #282828;
  font-weight: 400;
}

.status__error {
  color: #ff0000;
  font-weight: 400;
  a {
    text-decoration: underline;
  }
}

.status__success,
.status__error {
  font-size: 13px;
}

.field__submit {
  color: var(--color-white-main);
  background: var(--color-light-blue);
  border: 1px solid var(--color-light-blue);
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 0.04em;
  @include transition;
  cursor: pointer;
  &:hover {
    color: var(--color-white-main);
    background: var(--color-dark-blue);
    border: 1px solid var(--color-dark-blue);
  }
}

// Home Page Subscribe

.home__subscribe {
  display: inline-block;
  .form__container {
    text-align: left;
  }
  .field__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--color-light-pink);
    padding-left: 10px;
    padding-right: 10px;
    height: 35px;
    border-radius: unset;
    background: transparent;
  }
  .field__submit {
    display: none;
  }
  .status__success,
  .status__error {
    display: table;
  }
}

// About Subscribe

.about__subscribe {
  .field__input {
    width: 100%;
    border-color: var(--color-white-a20);
  }

  .field__submit {
    width: 100%;
  }
}

// Post Subscribe

.post__subscribe {
  .field__input {
    margin-bottom: 15px;
  }

  .field__input,
  .field__submit {
    height: 40px;
  }

  .field__submit {
    margin-bottom: 5px;
    padding: 0px 15px;
    font-size: 12px;
    height: 36px;
    font-weight: 600;
  }

  .field__input{
    width: 100%;
  }

  .status__success,
  .status__error {
    text-align: left;
  }
}

/* ======================
Next Series Posts
======================= */

.post__next__unit {
  border-top: 1px solid var(--color-grey-a10);
  margin-top: 2rem;
  .next__heading {
    padding-top: 1.3rem;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
  }

  .btn__link {
    background-color: var(--color-light-pink);
    color: var(--color-white-a80);
    border-radius: 2px;
    padding: 8px 14px 10px;
    font-size: 14px;
    text-transform: capitalize;

    &:hover,
    &:focus {
      background: var(--color-dark-pink);
      text-decoration: none;
    }

    svg {
      margin-bottom: -3px;
    }
  }
}

/* ======================
Markdown Table
======================= */

table {
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  margin-top: 0;
  margin-bottom: 16px;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;

  tr {
    background-color: var(--color-white-a80);
    border-top: 1px solid var(--color-grey-a10);

    &:nth-child(2n) {
      background-color: var(--color-grey-a20);
    }
  }

  th,
  td {
    padding: 6px 13px;
    border: 1px solid var(--color-grey-a10);
  }
  th {
    font-weight: 600;
  }
}

/* ======================
DARK LIGHT MODE
======================= */

// light mode theme

body {
  &.light-mode {
    background: var(--color-white-a80);
  }

  //Dark mode theme

  &.dark-mode {
    color: var(--color-white-a80);
    background: var(--color-bg-dm-pry);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--color-white-a80);
    }

    .series-link-container,
    table tr {
      background-color: var(--color-bg-dm-pry);
    }

    .edit__post {
      color: var(--color-white-a80);
      opacity: 0.8;
    }

    .darkLight__link svg,
    .content__right a svg, 
    .bg_dm a, .bg_dm li, .bg_dm_wc{
        color: var(--color-white-a80);
    }

    .cg_dm a {
      color: $color-grey-a80;

      &:hover {
        background: var(--color-bg-dm-secondary);
      }
    }

    .drop__down {
      background: var(--color-bg-dm-pry);

      ul {
        color: var(--color-white-a80);
      }
    }

    .select__box {
      &:after {
        background: var(--color-white-a80);
      }

      .arrow___up {
        border-bottom: 8px solid var(--color-white-a80);
      }
      .arrow__down {
        border-top: 8px solid var(--color-white-a80);
      }
    }

    .post__meta,
    .get_inTouch,
    .prerequisite,
    .status__success {
      color: var(--color-white-a80) !important;
    }

    .bd_bg_dm {
      background-color: var(--color-bg-dm-secondary);
    }

    .email__input,
    .form__field {
      select,
      input,
      textarea {
        color: var(--color-white-a80);
        border-color: var(--color-white-a20);
      }
    }

    .email__input,
    .post__next__unit,
    .series-link-container,
    .discusion__title,
    .dm_brder, .top_header {
      border-color: var(--color-white-a20) !important;
    }

    footer,
    aside div,
    aside div > ul,
    .list__container h3 {
      border-color: var(--color-white-a20);
    }

    .bg_dtd,
    .about__content_wrap,
    .subscribe__content {
      border-color: var(--color-white-a20);
      background: var(--color-bg-dm-pry);
    }

    // main,
    .hero__container, 
    .about__hero,
    section#blog {
      background-color: var(--color-bg-dm-pry) !important;
    }

    .sectionWrapper,
    .bg_dm {
      background-color: var(--color-bg-dm-pry);
    }

    blockquote {
      background-color: var(--color-bg-dm-secondary);
      color: var(--color-white-a80);
      @media screen and (min-width: 960px) {
        background-color: var(--color-bg-dm-pry);
      }
    }

    .bg_dtl,
    table tr:nth-child(2n) {
      background-color: var(--color-bg-dm-secondary) !important;
      border-color: var(--color-bg-dm-secondary) !important;
    }

    .bg_dtl_pp {
      @media screen and (min-width: 960px) {
        background-color: var(--color-bg-dm-secondary) !important;
        border-color: var(--color-bg-dm-secondary) !important;
      }
    }

    //General btn on hover (and home page blog section)
    .btn-primary,.hover_white button {
      &.readMore,
      &:hover,
      &:focus {
        color: var(--color-white-a80);
      }
    }

    .list__container a::after, .btn_line {
      background: var(--color-white-a80);
    }

    .tag__list__container {
      a {
        color: var(--color-white-a80);
      }
    }

    .sidebarTitle {
      border-color: var(--color-white-a20) !important;
    }

    .shadow {
      box-shadow: var(--color-bg-dm-pry) -16px 0px 14px 0px;
      background: var(--color-bg-dm-pry);
    }

    .dm a, .dm svg {
      @media screen and (min-width: 768px) {
        &:hover, &:focus {
          color: var(--color-white-main) !important;
          background-color:  rgba(0, 0, 0, 0.08);
        }
      }
    }
    //end dark mode
  }
}
