// Globals
// ===================================================

//@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap");
//@import url("https://fonts.googleapis.com/css?family=Muli:300,400,700&display=swap");

// Variables
$primary-color: #464646; //#1a1a1a;
$header-bg-color: #20232a;
$header-color: #111;
$main-white: #fff;
$main-black: #222;
$main-spacing: 0.1rem;
$body-font: "Nunito", "Helvetica Neue", Helvetica, "Segoe UI", sans-serif;
$heading-font: "Nunito", "Segoe UI", "Helvetica Neue", sans-serif;

$home-bg-banner: #282c34;
$link-color: #ea4812; //#ff7a59;
//$secondary-link-color: #ea4812;

// mixins
@mixin transition {
  transition: all 0.5s linear;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  color: $primary-color;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.42857143;
  background: $main-white;
  font-family: $body-font;

  @media screen and (min-width: 960px) {
    background-color: #fdfdfd;
  }
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

a {
  color: $link-color;
  background-color: transparent;
  outline: none;
  text-decoration: none;
}

strong,
b {
  font-weight: bold;
}

ol,
ul {
  list-style: none;
}

dl,
ol,
p,
table,
ul {
  margin: 0 0 1.667rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $header-color;
  font-family: $heading-font;
}

h2 a,
h2 a:hover {
  color: $header-color;
}

blockquote {
  color: rgba(0, 0, 0, 0.8);
  border-left: 8px solid #ffe564;
  background: rgba(255, 229, 100, 0.3);
  border-radius: 4px;
  font-weight: 500;
  margin: 1.5rem 0;
  padding: 20px;
  line-height: 1.6;
  font-size: inherit;

  p:last-of-type {
    margin-bottom: 0;
  }

  @media screen and (min-width: 768px) {
    padding: 20px 32px 20px 26px;
  }
}

// Code
// =================================================

code[class*="language-"],
pre,
pre[class*="language-"],
pre code {
  font-size: 14px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

pre[class*="language-"] {
  margin: 0 !important;
  padding: 2em 15px !important;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.15);

  @media screen and (min-width: 600px) {
    padding: 2em !important;
  }
}
code,
pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] :not(pre) > code,
p > code,
li > code {
  background: #f0f0f0 !important;
  color: #111;
  text-shadow: none;
  border-radius: 2px;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] :not(pre) > code,
p > code,
li > code,
p > a > code,
li > a > code {
  padding: 1px 6px !important;
  word-break: break-word;
}

// Prism Highligter
// =================================================

.filename {
  background: #151414;
  padding: 0.5rem 1rem 0.5rem;
  font-size: 1rem;
  color: #fff;
  font-weight: 700;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-bottom: -0.7rem;
}

.token.class-name {
  text-decoration: none !important;
}

.gatsby-highlight-code-line {
  background-color: #262c35;
  display: block;
  margin-right: -28px;
  margin-left: -28px;
  padding-right: 28px;
  padding-left: 28px;
}

.gatsby-highlight,
blockquote {
  overflow: auto;
  margin: 2rem -15px;
  border-radius: 0;

  @media screen and (min-width: 600px) {
    margin: 2rem 0px;
    border-radius: 0.3em;
  }
  @media screen and (min-width: 960px) {
    margin: 2rem -25px;
    border-radius: 0;
  }
  @media screen and (min-width: 1280px) {
    margin: 2rem -30px;
    border-radius: 0;
  }
}

.gatsby-highlight pre[class*="language-"] {
  float: left; /* 1 */
  min-width: 100%; /* 2 */
  border-radius: 0;
}

blockquote .gatsby-highlight {
  margin-top: 20px;
  margin-bottom: 0;
}

blockquote .gatsby-highlight + p {
  margin-top: 20px;
}

// Gatsby default image class
.gatsby-resp-image-wrapper {
  margin-top: 35px;
  margin-bottom: 35px;
}

// =====================================================
// Blog
// ======================

// ===========================================

@media screen and (min-width: 480px) {
  .recentTitle {
    margin-left: 3.375rem !important;
    margin-right: 3.375rem !important;
  }
}

@media screen and (min-width: 960px) {
  .recentTitle {
    margin-left: 2.375rem !important;
    margin-right: 2.375rem !important;
  }
}

// Posts inter-link

.series-link-container {
  border: 1px solid #f2f2f2;
  padding: 8px 12px;
  margin: 35px 0;

  p {
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 41px;
      height: 2px;
      background: $link-color;
      position: absolute;
      bottom: -12px;
      left: 0px;
      margin-top: 23px;
    }
  }

  ul {
    margin: 0 !important;

    li {
      list-style: none;
      padding: 0 !important;

      &::after {
        content: normal !important;
      }
    }
  }
}

// heading liks svg

.anchor {
  svg {
    display: none;
  }
}
