// Import
// ===================================================
@import "../../styles/base/colors"; //colors
@import "../../styles/base/mixins"; //mixins

.filterContainer {
  position: relative;
  background-color: $color-bg-dm-secondary;

  display: flex;
  justify-content: space-between;
  border: 1px solid $color-bg-dm-secondary;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex: 7;
  }

  button {
    text-transform: capitalize;
    color: $color-grey-a80;
    padding: 10px;
    @include transition;
    background: transparent none repeat scroll 0% 0%;
    border: none;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $color-white-a80;
    }

    @media screen and (min-width: 600px) {
      padding: 13px 30px 13px 15px;
    }
  }
}

.filter {
  .selected {
    color: $color-white-a80;
  }
}

.articles {
  a {
    color: inherit;
    display: block;
  }
  button {
    padding-right: 13px;
  }
}
