// Import
// ===================================================
@import "../../styles/base/align"; //default padding left right max-width
@import "../../styles/base/colors"; //colors

$inner-max-width: 975px;

.main {
  padding-bottom: 3rem;
  margin-top: 60px;
}

.filterSection {
  background-color: $color-bg-dm-pry;
}

.align {
  padding: 35px $plr;
  max-width: $inner-max-width;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    padding: 35px $plrls;
    display: flex;
    justify-content: space-between;
  }
}

.heading {
  color: $color-white-main;
  margin-bottom: 10px;
  h1 {
    font-size: 22px;
    color: inherit;
  }
  p {
    font-size: 12px;
    line-height: 25px;
    margin: 0;
    @media screen and (min-width: 768px) {
      margin-top: -5px;
    }
  }
  @media screen and (min-width: 768px) {
    flex: 3;
    margin-right: 10px;
    margin-bottom: 0;
  }
}

.inner {
  max-width: $inner-max-width;
  margin: 0 auto;
  padding: 0 $plr;
  @media screen and (min-width: 768px) {
    padding: 0 $plrls;
  }
}

.list {
  margin: 40px 0 0;
}
