// Import
// ===================================================
@import "../../styles/base/align"; //default padding left right max-width

$inner-max-width: 870px;

.main {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-top: 50px;
}

.container {
  max-width: $inner-max-width;
  margin: 0 auto;
  padding: 0 $plr;
  @media screen and (min-width: 768px) {
    padding: 0 $plrls;
  }
}

.topContent {
  margin-bottom: 2rem;

  p { 
    font-size: 16px;
    line-height: 22px;
  }

  h1 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    line-height: 27px;
    @media screen and (min-width: 480px) {
      font-size: 1.5rem;
    }
    @media screen and (min-width: 768px) {
      font-size: 2rem;
    }
  }
}

.list {
  margin: 0;
}
