// Import
// ===================================================
@import "../../styles/base/align"; //default padding left right max-width.

$max-width: 960px;

.about {
  padding: 50px 0 30px;
}

.inner {
  max-width: $max-width;
  margin: 0 auto;
  padding-right: $plr;
  padding-left: $plr;
  @media screen and (min-width: 768px) {
    padding-right: $plrls;
    padding-left: $plrls;
  }

  
}

.section {
  padding: 50px 0 0;
  line-height: 25px;
  p {
    font-size: 0.95rem;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
    @media screen and (min-width: 768px) {
      font-size: 1rem;
    }
  }

 
}

.heading {
  font-size: 1.65rem;
  margin-bottom: 20px;
  line-height: 34px;
  @media screen and (min-width: 600px) {
    font-size: 1.8rem;
  }
}
.subHeading {
  font-size: 1.3rem;
  margin-bottom: 15px;
  line-height: 30px;
  @media screen and (min-width: 600px) {
    font-size: 1.3rem;
  }
  @media screen and (min-width: 768px) {
    font-size: 1.5rem;
  }
}