// About Hero

.about-hero {
  min-height: calc(100vh - 4rem);
  background: #fafafa;
}

.content-wrapper {
  max-width: 72rem;
  margin: 0 auto;
  padding: 4rem 10px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-content img {
  height: auto;
  max-width: 100%;
  width: 11.25rem;
}

.banner-content {
  h1 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1.5rem;

    span {
      font-weight: 600;
    }
  }
}
