@mixin transition {
  transition: all 0.3s ease-out;
}

$max-width: 960px;
$bacground: #1d2b35;
$mainWhite: #fff;
$plr: 1em;
$plrls: 2em;

.section {
  font-size: 1.03rem;
  padding: 3rem 0;
  @media screen and (min-width: 768px) {
    font-size: 1.1rem;
  }
}
.ibaslogic {
  background: $mainWhite;
}
.inner {
  max-width: $max-width;
  margin: 0 auto;
  padding-right: $plr;
  padding-left: $plr;
  @media screen and (min-width: 768px) {
    padding-right: $plrls;
    padding-left: $plrls;
  }
}

.content {
  line-height: 1.5;
  margin-bottom: 30px;

  p {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
.heading {
  font-size: 1.62671rem;
  text-transform: uppercase;
  margin-bottom: 15px;
  @media screen and (min-width: 768px) {
    font-size: 33px;
  }
}

.newsletter {
  color: $mainWhite;
  background: $bacground;
  padding: 5rem 0;
}

.newsletterContent {
  @media screen and (min-width: 600px) {
    display: flex;
    flex: 1;
  }
}

.formHeading {
  h3 {
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 2rem;
    line-height: 30px;
  }
  @media screen and (min-width: 600px) {
    flex: 0.5;
    margin-right: 10px;
  }
}
.subscribe {
  @media screen and (min-width: 600px) {
    flex: 0.5;
  }
}

.ibas {
  background: $mainWhite;
}
