// Import
// ===================================================
@import "../../styles/base/colors"; //colors
@import "../../styles/base/mixins"; //mixins

.listContainer {
  font-size: 15px;
  line-height: 23px;
}

.list {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  margin: 0;
  a {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.subTitle {
  font-weight: 600;
  font-size: 1.2rem;
  margin: 3rem 0 1.5rem;

  @media screen and (min-width: 960px) {
    font-size: 1.4rem;
  }
}
