// Import
// ===================================================
@import "../../styles/base/colors"; //colors

.listItem {
  &:last-child {
    border-bottom: none;
    padding-bottom: 0
  }
}

.link { 
  padding: 15px 10px;
  display: block;
  color: rgba($primary-color, 0.6);

  &:hover {
    background: $color-grey-a10;
    color: rgba($primary-color, 0.6);
  }
}

.content {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  line-height: 22.4px;
}
.entryTitle {
  font-size: 16px;
  font-weight: 600;
}

.time {
  font-size: 13px;
  line-height: 18.2px;
  color: inherit;
  margin-top: 3px;
}