// Import
// ===================================================
@import "../../styles/base/colors"; //colors
@import "../../styles/base/mixins"; //mixins
@import "../../styles/base/align"; //default padding left right max-width


$inner-max-width: 870px;

.main {
  padding-top: 2rem;
  padding-bottom: 3rem;
  margin-top: 50px;

  @media screen and (min-width: 768px) {
    padding-top: 3rem;
  }
}
.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $plr;
  @media screen and (min-width: 768px) {
    padding: 0 $plrls;
  }
}

.filter-posts {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.447;
  margin-bottom: 3rem;

  @media screen and (min-width: 480px) {
    font-size: 2rem;
  }
  @media screen and (min-width: 768px) {
    font-size: 2.7rem;
  }

  .filter-posts-heading {
    display: block;
    line-height: 1.41667;
    @media screen and (min-width: 480px) {
      display: inline-block;
    }
  }

  /*Filter Blog Posts */
  .select-box-container {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 0 10px 0 0;

    @media screen and (min-width: 480px) {
      margin-left: 10px;
    }

    &:hover {
      cursor: pointer;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      bottom: -5px;
      background-color: $primary-color;
      height: 1px;
    }
  }

  .select-box-arrow {
    position: relative;
    display: inline-block;
    right: -11px;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    top: 8px;
  }

  .select-box-arrow-down {
    position: absolute;
    top: 12px;
    left: 18px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid rgba($primary-color, 0.6);
  }
  .select-box-arrow-up {
    position: absolute;
    top: 10px;
    left: 18px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid rgba($primary-color, 0.6);
  }

  .drop-down-container {
    position: absolute;
    top: 63px;
    right: 0;
    left: 0;
    display: block;
    padding: 0;
    min-width: 157px;
    margin: 0;
    @include transition;
    height: auto;

    border-radius: 2px;
    background-color: $color-white-main;
    box-shadow: 0 15px 30px 0 rgba(244, 79, 24, 0.09),
      inset 0 -1px 0 0 $color-light-pink;
    z-index: 8;
    overflow: hidden;

    @media screen and (min-width: 768px) {
      min-width: 297px;
    }
  }

  .drop-down-list {
    height: auto;
    margin: 0;
  }

  .drop-down-item {
    padding: 20px 30px;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.66667;
    text-align: left;

    &:hover {
      background-color: $color-grey-a20;
      color: $color-dark-pink;
    }

    &.selected {
      font-weight: 700;
      background-color: $color-grey-a20;
      color: $color-dark-pink;
    }
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: $inner-max-width;
  margin: 0 auto;
}

.listItem {
  padding: 1rem 0;
  border-bottom: 4px solid $color-grey-a30;

  &:last-child {
    border-bottom: none;
  }

  a {
    color: inherit;
  }
}

.article {
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 2px;
  grid-template-areas:
    "header entryTitle entryTitle entryTitle entryTitle entryTitle"
    "content content content content content content"
    "meta meta meta meta meta meta";

  grid-template-columns: repeat(6, 1fr);

  @media screen and (min-width: 480px) {
    grid-template-areas:
      "header entryTitle entryTitle entryTitle entryTitle entryTitle"
      "header content content content content content"
      "header meta meta meta meta meta";
  }
  @media screen and (min-width: 768px) {
    grid-column-gap: 20px;
  }
}

.entryHeader {
  grid-area: header;
}
.meta {
  grid-area: meta;
}
.entryTitle {
  grid-area: entryTitle;
  font-size: 1.1rem;
  line-height: 22.4px;
  @media screen and (min-width: 400px) {
    font-size: 1.2rem;
  }
  @media screen and (min-width: 480px) {
    font-size: 1.3rem;
    margin-top: -3px;
  }
}
.content {
  grid-area: content;
  font-size: 15px;
  line-height: 21px;

  p {
    margin: 0;
  }
} 

.meta {
  font-size: 13px;
  line-height: 18.2px;
  color: rgba($primary-color, 0.6);
}

.posted {
  margin-bottom: 12px;
}

.divider {
  position: relative;
  &::after {
    content: "";
    display: block;
    width: 2px;
    height: 2px;
    background: rgba($primary-color, 0.6);
    position: absolute;
    top: 7px;
    left: 2px;
  }
}

.time {
  margin-left: 8px;
}

.tags {
  li {
    margin-bottom: 0;
  }
}

.imgWrapper {
  width: 100px !important;
  height: 70px !important;
  min-width: 100px;
  @media screen and (min-width: 480px) {
    width: 100px !important;
    height: 100px !important;
  }
  @media screen and (min-width: 600px) {
    width: 150px !important;
    height: 150px !important;
    min-width: 150px;
  }
}
