.about-posts {
  max-width: 45rem;
  margin: 0 auto;
  padding-top: 3.5rem;
  position: relative;

  @media screen and (min-width: 768px) {
    padding-top: 5rem;
  }
  @media screen and (min-width: 960px) {
    max-width: 75rem;
  }
  .about-excerpt {
    display: flex;
    padding: 0.7rem 15px 3rem;
    flex-direction: column;
    font-size: 1rem;
    line-height: 1.625rem;
    letter-spacing: 0;
    font-weight: 300;

    @media screen and (min-width: 768px) {
      //padding-top: 3rem;
      flex-direction: row;
    }
    @media screen and (min-width: 960px) {
      font-size: 1.04rem;
      padding-top: 3rem;
      padding-bottom: 0;
    }
  }
  .col-left {
    @media screen and (min-width: 768px) {
      padding-right: 15px;
      flex: 1;

      position: relative;
      &::after {
        content: "";
        display: block;
        position: absolute;
        height: 13.75rem;
        border-right: 1px dashed #000;
        bottom: -69px;
        right: 0px;
        @media screen and (min-width: 960px) {
          height: 429px;
          top: -170px;
          z-index: -1;
        }
        @media screen and (min-width: 1120px) {
          height: 407px;
        }
      }
    }
  }
  .col-right {
    @media screen and (min-width: 768px) {
      padding-left: 15px;
      flex: 1;
    }
  }
  .col-left p,
  .col-right p {
    margin-bottom: 1rem;
  }
}
.sub-styles-excerpt {
  @media screen and (min-width: 960px) {
    justify-content: start;
  }
}
