// Import
// ===================================================
@import "../../styles/base/colors"; //colors
@import "../../styles/base/align"; //default padding left right max-width

$inner-max-width: 970px;

.about_excerpt {
  background: $color-white-main;
  padding: 2rem 0 1rem;
}

.inner {
  padding: 1rem $plr;
  max-width: $inner-max-width;
  margin: 0 auto;
  border-radius: 3px;

  @media screen and (min-width: 768px) {
    padding: 1rem $plrls;
  }
}
.about-posts {
  h2 {
    font-size: 23px;
    margin-bottom: 20px;
    @media screen and (min-width: 480px) {
      font-size: 26px;
    }
  }
  p {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
  }
}
