$max-width: 76rem;
$base-font-size: 1rem;
$plr: 1em;
$plrls: 2em;
$sColor: #ff7c3c;
$lighterGrey: #b5b0ae;
@mixin transition {
  transition: all 0.5s ease-out;
}

.about_excerpt {
  background: #ffffff;
  padding: 2rem 0;
}

.inner {
  padding: 1rem $plr;
  max-width: 970px;
  margin: 0 auto;
  border-radius: 3px;

  @media screen and (min-width: 768px) {
    padding: 1rem $plrls;
  }
}
.about-posts {
  h2 {
    font-weight: 300;
    font-size: 23px;
    margin-bottom: 20px;
    @media screen and (min-width: 480px) {
      font-size: 26px;
    }
  }
  p {
    font-size: 16px;
    line-height: 30px;
    margin: 0;
    font-weight: 300;
  }
}
