$max-width: 75rem;
$base-font-size: 0.94rem;

.about-posts {
  max-width: 45rem;
  margin: 0 auto;
  padding-top: 3.5rem;
  position: relative;

  @media screen and (min-width: 768px) {
    padding-top: 5rem;
  }
  @media screen and (min-width: 960px) {
    max-width: $max-width;
  }
  .about-excerpt {
    display: flex;
    padding: 0.7rem 15px 3rem;
    flex-direction: column;
    font-size: $base-font-size;
    line-height: 1.6;
    letter-spacing: 0;
    // font-weight: 300;

    @media screen and (min-width: 600px) {
      font-size: 1rem;
    }
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
    @media screen and (min-width: 960px) {
      // font-size: 1.15rem;
      // letter-spacing: -0.1px;
      padding-top: 3rem;
      padding-bottom: 0;
    }
  }
  .col-left {
    @media screen and (min-width: 768px) {
      padding-right: 15px;
      flex: 1;

      position: relative;
      &::after {
        content: "";
        display: block;
        position: absolute;
        height: 13.75rem;
        border-right: 1px dashed #000;
        bottom: -7px;
        right: 0px;
        @media screen and (min-width: 960px) {
          height: 240px;
          top: -25px;
          z-index: 1;
        }
        @media screen and (min-width: 1120px) {
          top: -100px;
          height: 300px;
        }
      }
    }
  }
  .col-right {
    @media screen and (min-width: 768px) {
      padding-left: 15px;
      flex: 1;
    }
  }
  .col-left p,
  .col-right p {
    margin-bottom: 1rem;
  }
}
.sub-styles-excerpt {
  @media screen and (min-width: 960px) {
    justify-content: space-between;
  }
}
