$max-width: 76rem;
$base-font-size: 1rem;
$plr: 1em;
$plrls: 2em;
$sColor: #e55e34;
@mixin transition {
  transition: all 0.5s ease-out;
}

.inner {
  padding: 3.5rem $plr;
  max-width: 700px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    padding: 7rem $plrls;
  }
}
.about-posts {
  padding-left: 10px;
  position: relative;

  @media screen and (min-width: 480px) {
    padding-left: 20px;
  }

  &:after {
    content: "";
    position: absolute;
    width: 2px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    background: $sColor;
  }

  h2 {
    font-weight: 300;
    font-size: 23px;
    margin-bottom: 20px;
    @media screen and (min-width: 480px) {
      font-size: 26px;
    }
  }
  p {
    font-size: 16px;
    line-height: 30px;
    margin: 0;
    font-weight: 300;
    @media screen and (min-width: 768px) {
      line-height: 34px;
      font-size: 18px;
    }
  }

  .view-all {
    line-height: 1.375rem;
    letter-spacing: 0.01562rem;
    font-size: $base-font-size;
    margin-top: 15px;
  }
}
