@mixin transition {
  transition: all 0.5s ease-out;
}
$max-width: 76rem;
$link-hover: #ee6d41;
$base-font-size: 0.94rem;
$base-container-LR-padding: 20px;

.recent-posts {
  padding-top: 3.5rem;
  max-width: 45rem;
  margin: 0 auto;
  position: relative;
  margin-bottom: 3.5rem;

  @media screen and (min-width: 768px) {
    padding-top: 5rem;
    margin-bottom: 5rem;
  }
  @media screen and (min-width: 960px) {
    max-width: $max-width;
    margin-bottom: 0;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;

    padding: 0.7rem $base-container-LR-padding 4rem;

    @media screen and (min-width: 768px) {
      padding-bottom: 6rem;
    }
    @media screen and (min-width: 960px) {
      // max-width: 1150px;
      padding-top: 3rem;
      max-width: $max-width;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 25px;
    }
  }
}
.sub-styles {
  display: flex;
  justify-content: center;
  padding-left: $base-container-LR-padding;
  padding-right: $base-container-LR-padding;
  flex-direction: column;

  @media screen and (min-width: 960px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}
.title-styles {
  @media screen and (min-width: 960px) {
    margin-right: 13px;
  }
}

.section-title {
  margin: 0;
  font-size: 1.7rem;
  margin-bottom: 1.8rem;
  font-weight: normal;
  line-height: 1.1666em;

  @media screen and (min-width: 480px) {
    font-size: 1.9rem;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 2.5rem;
  }
  @media screen and (min-width: 960px) {
    margin-bottom: 0rem;
  }
  @media screen and (min-width: 1024px) {
    font-size: 2.2rem;
  }
}

.view-all {
  line-height: 1.375rem;
  letter-spacing: 0.01562rem;
  font-size: $base-font-size;
  position: absolute;
  bottom: 0;

  @media screen and (min-width: 600px) {
    font-size: 1rem;
  }

  @media screen and (min-width: 960px) {
    position: relative;
  }

  a {
    @include transition;

    &:hover {
      color: $link-hover;
    }
    svg {
      margin-bottom: -2px;
    }
  }
}

.article {
  margin-bottom: 3.125rem;
  &:last-child {
    margin-bottom: 0;
  }
  header {
    margin-bottom: 1.25rem;

    @media screen and (min-width: 480px) {
      flex: 3;
      margin-bottom: 0;
      margin-right: 0.7375rem;
    }
    @media screen and (min-width: 600px) {
      margin-right: 1.0625rem;
    }
    @media screen and (min-width: 960px) {
      margin-right: 0;
      margin-bottom: 1.25rem;
    }
  }

  .content {
    @media screen and (min-width: 480px) {
      flex: 7;
      margin-top: -0.25rem;
    }
  }

  @media screen and (min-width: 480px) {
    display: flex;
    flex-direction: row;
  }

  @media screen and (min-width: 960px) {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.content {
  h2 {
    font-size: 1.1875rem;
    font-weight: normal;
    margin-bottom: 1rem;
    line-height: 1.32em;

    @media screen and (min-width: 480px) {
      margin-bottom: 0.25rem;
    }
    @media screen and (min-width: 600px) {
      font-size: 1.4375rem;
      margin-bottom: 0.55rem;
    }

    &:hover {
      color: $link-hover;
    }
    a {
      color: inherit;
    }
  }
  p {
    font-size: 14px;
    margin: 0;
    // font-weight: 300;
    line-height: 1.6;
    letter-spacing: 0;
  }
}
