@mixin transition {
  transition: all 0.5s ease-out;
}
$max-width: 76rem;
$sColor: #e55e34;
$mainWhite: #fff;
$pColor: #08090a;
$base-font-size: 0.94rem;
$plr: 20px;

.secContainer {
  background: #ffffff;
}
.recent-posts {
  padding: 3.5rem 1em;
  max-width: $max-width;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    padding: 6rem 2em;
  }

  .subHeading {
    display: flex;
    margin-bottom: 3rem;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;

    h2 {
      font-size: 19px;
      @media screen and (min-width: 480px) {
        font-size: 23px;
      }
    }
  }
  .viewAll {
    margin-left: 10px;
  }
  .link {
    padding: 10px;
    color: $pColor;
    background: transparent;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;

    @media screen and (min-width: 768px) {
      padding: 9px 18px;
      font-size: 14px;
    }

    &:hover,
    &:focus {
      color: $mainWhite;
      background: $sColor;
    }
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 8px;
      grid-row-gap: 20px;
    }
    @media screen and (min-width: 960px) {
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 13px;
    }
  }
}

.section-title {
  margin: 0;
  font-size: 1.7rem;
  font-weight: normal;
  line-height: 1.1666em;

  @media screen and (min-width: 480px) {
    font-size: 1.9rem;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 2.5rem;
  }
  @media screen and (min-width: 960px) {
    margin-bottom: 0rem;
  }
  @media screen and (min-width: 1024px) {
    font-size: 2.2rem;
  }
}

.article {
  margin-bottom: 40px;
  position: relative;
  &:last-child {
    margin-bottom: 0;
  }
  @include transition;

  &:hover {
    transform: translate3d(0, -5px, 0);
  }

  @media screen and (min-width: 576px) {
    height: 300px;
  }

  @media screen and (min-width: 768px) {
    height: auto;
    margin-bottom: 0;
  }
}

.imgWrapper {
  @media screen and (min-width: 576px) {
    height: 300px;
  }
  @media screen and (min-width: 768px) {
    height: auto;
  }
}

.content {
  position: absolute;
  color: rgb(255, 255, 255);
  padding: 20px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 35px;
    line-height: 1.32em;
    color: $mainWhite;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: 82px;
      height: 2px;
      bottom: -50px;
      left: 0px;
      margin-bottom: 32px;
      background: $sColor;
    }

    @media screen and (min-width: 480px) {
      font-size: 22px;
    }
    @media screen and (min-width: 576px) {
      font-size: 27px;
    }
    @media screen and (min-width: 768px) {
      font-size: 18px;
    }
  }
  p {
    font-size: 14px;
    margin: 0;
    line-height: 1.6;
    letter-spacing: 0;
  }
}

.learnMore {
  position: absolute;
  bottom: 20px;
  text-transform: uppercase;
  font-size: 14px;

  svg {
    font-size: 11px;
    margin-left: 7px;
  }
}
