$body-font: "Nunito", "Helvetica Neue", Helvetica, "Segoe UI", "Helvetica Neue",
  sans-serif;

@mixin transition {
  transition: all 0.5s linear;
}

$max-width: 76rem;
$link-color: #ee6d41;
$link-hover: #ea4812;
$heading-color: #1d2b35;
$body-color: #212529;
$base-container-LR-padding: 20px;

.heading {
  background-color: $heading-color;

  .container {
    min-height: 60vh;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px $base-container-LR-padding;

    .hero__title {
      // max-width: 72rem;
      // margin: 0 auto;
      color: inherit;
      font-size: 40px;
      font-weight: 700;
      line-height: 54px;
      margin-bottom: 20px;

      @media screen and (min-width: 480px) {
        font-size: 48px;
      }
      @media screen and (min-width: 768px) {
        font-size: 60px;
        margin-bottom: 30px;
      }
    }

    .hero__subtitle {
      // font-weight: 300;
      color: inherit;
      font-size: 16px;

      // @media screen and (min-width: 768px) {
      //   font-size: 18px;
      // }

      .nl {
        @media screen and (min-width: 600px) {
          display: block;
        }
      }
    }
  }
}

.contact__area {
  .main__container {
    padding: 4rem $base-container-LR-padding;
    max-width: $max-width;
    margin: 0 auto;

    @media screen and (min-width: 992px) {
      display: flex;
      flex: 1;
    }
  }
}

.connect {
  text-align: center;
  margin-bottom: 1em;
  font-size: 1.2rem;
  margin-bottom: 50px;
  line-height: 1.6;

  @media screen and (min-width: 992px) {
    flex: 0.4;
    text-align: left;
  }

  a {
    color: inherit;
    transition: all 0.3s ease-out;
    text-decoration: underline;
    &:hover {
      color: $link-color;
    }
  }
}

// Contact

.contactForm {
  @media screen and (min-width: 992px) {
    flex: 0.6;
    margin-left: 20px;
  }
}

.form {
  max-width: 740px;
  margin: 0 auto;

  @media screen and (min-width: 992px) {
    width: 100%;
    grid-column: 6 / span 8;
  }
}

.form-field {
  display: grid;
  grid-gap: 15px;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    column-gap: 20px;

    .textarea-field {
      grid-column: 1/3;
    }
  }

  .text-field,
  .email-field,
  .textarea-field {
    font-size: 15px;
    outline: none;
    padding: 17px 10px 16px;
    line-height: 1.66667;
    border: 1px solid #b3b3b3;
    font-family: $body-font;
    color: $body-color;

    &::placeholder,
    &:-moz-placeholder {
      font-size: 15px;
      font-family: $body-font;
      color: inherit;
    }

    &:invalid {
      box-shadow: none;
    }

    &:focus {
      border-color: rgba(244, 79, 24, 0.12);
      box-shadow: 0 2px 6px 0 rgba($link-color, 0.12);
    }
  }

  .textarea-field {
    height: 200x;
    resize: vertical;
  }
}

.actions {
  margin: 30px 0 10px;

  @media screen and (min-width: 768px) {
    margin: 0 0 15px;
  }
}

.submit-button {
  background: $link-color;
  border: 1px solid $link-color !important;
  color: #fff;
  padding: 0.8em 1.5em !important;
  border-radius: 3px;
  cursor: pointer;

  // padding: 20px 30px;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  @include transition;
  &:hover {
    background: $link-hover;
  }

  @media screen and (min-width: 768px) {
    font-size: 15px;
  }
}
