@mixin transition {
  transition: all 0.5s linear;
}
.contact-hero {
  color: #fff;
  background: url(../../images/newsletter-bg.jpg) center top no-repeat;
  padding: 110px 0 100px;
  //background: #041220;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
.image-filter {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hero-content-wrapper {
  max-width: 72rem;
  margin: 0 auto;
  padding: 0rem 15px;
  text-align: center;
  position: relative;
  color: #fff;
}

.banner-content {
  h1 {
    color: inherit;
    font-size: 2.5rem;
    line-height: 1.2444em;

    @media screen and (min-width: 480px) {
      font-size: 3.5rem;
    }
    @media screen and (min-width: 1200px) {
      font-size: 5rem;
    }
  }
  .description {
    margin: 2em auto 0;
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 1.667;
    color: inherit;
    @media screen and (min-width: 768px) {
      font-size: 1.2rem;
      line-height: 1.8;
    }
  }
}
.send-button {
  margin-top: 3em;
  a {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    //font-size: 1.2rem;
    //text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.04em;
    transition: all 0.3s ease-out;
    padding: 0.7rem 1.2rem;

    &:hover {
      background-color: #fff;
      color: #444;
    }
  }
}
.nl {
  @media screen and (min-width: 760px) {
    display: block;
  }
}

// .heading {
//   text-align: center;
//   position: relative;

//   &::after {
//     content: "";
//     display: block;
//     width: 4.75rem;
//     height: 0.0625rem;
//     background: #ff7a59;
//     position: absolute;
//     bottom: -1.5rem;
//     left: 50%;
//     margin-left: -2.25rem;
//   }
// }

.contact {
  .content-wrapper {
    padding: 4rem 15px;
    max-width: 50rem;
    margin: 0 auto;
    // @media screen and (min-width: 768px) {
    //   padding-top: 5rem;
    //   padding-bottom: 5rem;
    // }
    @media screen and (min-width: 992px) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      max-width: 75rem;
      column-gap: 1.5em;
    }
  }
}

.content {
  text-align: center;
  // padding: 0 15px;
  color: #b7b7b7;
  margin-bottom: 1em;
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 50px;

  @media screen and (min-width: 768px) {
    font-size: 1.8rem;
  }

  @media screen and (min-width: 992px) {
    text-align: left;
    grid-column: 1 / span 5;
  }

  a {
    color: #8e8e8e;
    transition: all 0.3s ease-out;
    text-decoration: underline;
    &:hover {
      color: #ff7a59;
    }
  }
}

// .social {
//   max-width: 900px;
//   margin-left: auto;
//   margin-right: auto;
//   margin-top: 80px;
//   @media screen and (min-width: 768px) {
//     margin-top: 100px;
//   }
// }
// .social-list {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   grid-row-gap: 3rem;
//   margin: 0;

//   @media screen and (min-width: 600px) {
//     grid-template-columns: repeat(3, 1fr);
//   }
// }

// Contact

.form {
  // padding-bottom: 60px;
  max-width: 740px;
  margin: 0 auto;

  @media screen and (min-width: 992px) {
    width: 100%;
    grid-column: 6 / span 8;
  }
}

.form-field {
  display: grid;
  grid-gap: 15px;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    column-gap: 20px;

    .textarea-field {
      grid-column: 1/3;
    }
    .actions {
      grid-column: 1/2;
    }
  }

  .text-field,
  .email-field,
  .textarea-field {
    font-size: 15px;
    outline: none;
    padding: 17px 10px 16px;
    line-height: 1.66667;
    border: 1px solid #b0b0b0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

    &::placeholder,
    &:-moz-placeholder {
      font-size: 15px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    }

    &:invalid {
      box-shadow: none;
    }

    &:focus {
      border-color: rgba(244, 79, 24, 0.12);
      box-shadow: 0 2px 6px 0 rgba(244, 79, 24, 0.12);
    }
  }

  .textarea-field {
    height: 200x;
    resize: vertical;
  }
}

.actions {
  margin: 30px 0;
  // display: flex;
  // justify-content: center;

  @media screen and (min-width: 768px) {
    margin: 0 0 15px;
  }

  input {
    border: 1px solid #e3e3e3;
    padding: 20px 30px;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
  }
}

.submit-button {
  // margin-right: 8px;
  background: #ff7a59;
  border: 1px solid #f44f18 !important;
  color: #fff;
  // width: 100%;
  padding: 0.8em 1.5em !important;
  border-radius: 3px;
  @include transition;
  &:hover {
    opacity: 0.8;
  }
}

// .reset-button {
//   color: #4d4d4d;
//   @include transition;

//   &:hover {
//     color: #ff7a59;
//   }
// }
