// Import
// ===================================================
@import "../../styles/base/colors"; //colors
@import "../../styles/base/mixins"; //mixins
@import "../../styles/base/font"; //mixins
@import "../../styles/base/align"; //default padding left right max-width

$max-width: 960px;

.contact {
  padding: 50px 0;
}

.inner {
  padding: 40px $plr 0;
  max-width: $max-width;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    padding-left: $plrls;
    padding-right: $plrls;
  }
}

.heading {
  h1 {
    font-size: 1.65rem;
    margin-bottom: 1.5rem;
    line-height: 34px;
    @media screen and (min-width: 600px) {
      font-size: 1.8rem;
      margin-bottom: 2.5rem;
    }
    @media screen and (min-width: 768px) {
      font-size: 2.2rem;
    }
  }
}

.desc {
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 24px;

  p {
    margin-bottom: 15px;
  }

  a {
    color: inherit;
    @include transition;
    text-decoration: underline;
    &:hover {
      color: $color-dark-pink;
    }
  }
}

// Contact

.formWrapper {
  background-color: #fcfaff;
  padding: 1rem;
  max-width: 800px;

  @media screen and (min-width: 480px) {
    padding: 2rem;
  }
}

.form-field {
  display: grid;
  grid-gap: 15px;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    column-gap: 20px;

    .textarea-field, .selectField {
      grid-column: 1/3;
    }
  }

  .selectField,
  .text-field,
  .email-field,
  .textarea-field {
    font-size: 15px;
    outline: none;
    padding: 10px;
    line-height: 1.66667;
    border: 1px solid rgba($color-grey, .4);
    font-family: $fonts;

    &::placeholder,
    &:-moz-placeholder {
      font-size: 15px;
      font-family: $fonts;
      color: inherit;
      text-transform: capitalize;
      font-weight: 400;
    }

    &:invalid {
      box-shadow: none;
    }

    &:focus {
      border-color: $color-grey-a30;
      box-shadow: 0 2px 6px 0 rgba($color-light-pink, 0.12);
    }
  }
  
  .selectField {
    appearance: none;
    background: rgb(255, 255, 255) url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat scroll right 0.75rem center / 8px 10px;
  }

  .textarea-field {
    height: 140px;
    resize: vertical;
  }
}

.actions {
  margin-top: 40px;

  button {
    font-weight: bold;
    text-transform: capitalize;
    width: auto;
    letter-spacing: 1;

    &:hover, &:focus {
      color: $color-white-main;
      background-color: $color-dark-pink;
      border-color: $color-dark-pink;
    }
    @media screen and (min-width: 768px) {
      font-size: 15px;
      padding: 12px 8px;
    }
  }
}
