// mixins
@mixin transition {
  transition: all 0.3s ease-out;
}

$body-color: #1a1a1a;
$main-white: #fff;
$link-color: #ea4812;

.recent-posts {
  border: solid #f0f0f0 1px;
  margin: 0 0 3.4rem 0;
  color: #33475b;
  background-color: $main-white;

  h3 {
    margin: 1.25rem 17px 0rem;
  }
}
.widget {
  &:last-child {
    margin-bottom: 0;
  }
}

.list-container {
  line-height: 1.75em;
  margin-bottom: 0;
  padding: 1.5rem 17px 1.5rem;
  font-weight: 300;

  a {
    color: $body-color;
    @include transition;

    &:hover {
      color: $link-color;
    }
  }

  li {
    line-height: 1.5;
    margin: 0 0 0.9375rem 0;
    min-height: 3.125rem;

    &:first-child {
      margin-top: 0.4375rem;
    }

    &:last-child {
      margin-bottom: 0.4375rem;
    }

    .img-tumbnail {
      margin: 0.2rem 0.75rem 0 0;
      float: left;
      min-width: 5rem;
      height: auto;
      max-height: 3.125rem;
    }
  }
}

.sticky {
  @media screen and(min-width: 1200px) {
    top: 92px;
    position: sticky;
  }
}

.sign-up {
  border: 1px solid #f0f0f0;
  padding: 2rem 17px;

  background: #fff;
  margin-bottom: 40px;
  font-size: 14px;
  font-weight: 300;

  @media screen and(min-width: 480px) {
    padding: 1.5rem 17px;
  }
  @media screen and(min-width: 1200px) {
    margin-bottom: 20px;
  }
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.11667;
  position: relative;
  margin-bottom: 1.2rem;

  &::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background: $link-color;
    position: absolute;
    bottom: -20px;
    left: 21px;
    margin-top: 23px;
    margin-left: -1.25rem;
  }

  @media screen and(min-width: 768px) {
    line-height: 1.02778;
  }
}

.description {
  line-height: 1.667;
  padding-top: 1.3rem;
  margin-bottom: 1.5rem;
  font-size: 16px;
  @media screen and(min-width: 1200px) {
    font-size: 15px;
  }
}
.form-container {
  display: flex;
  flex-direction: column;

  .name-field {
    text-transform: capitalize;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;

    @media screen and(min-width: 600px) {
      flex: 1;
      flex-direction: row;
    }

    @media screen and(min-width: 960px) {
      flex-direction: column;
    }

    .emailInputContainer {
      background: #fbfcfd;
      margin-bottom: 4px;
      .emailInput {
        border: 1px solid #dadadb;
        border-radius: 2px;
        padding: 0 20px;
      }
      @media screen and(min-width: 600px) {
        flex: 0.7;
      }
      @media screen and(min-width: 960px) {
        flex: auto;
      }
    }
    .submitInputContainer {
      .submitInput {
        border: 1px solid rgba($link-color, 1);
        border-radius: 2px;
        &:hover {
          border: 1px solid rgba($link-color, 0.8);
          button {
            background-color: rgba($link-color, 0.8);
            cursor: pointer;
          }
        }
      }
      @media screen and(min-width: 600px) {
        flex: 0.5;
        margin-left: -2px;
      }
      @media screen and(min-width: 960px) {
        flex: auto;
        margin-left: 0px;
      }
    }
  }

  input,
  button {
    height: 50px;
    width: 100%;
    font-size: 15px;
    outline: none;
  }
  input {
    border: none;
    border-radius: 2px;
    color: #444;
  }
  button {
    background-color: rgba($link-color, 1);
    border: none;
    opacity: 1;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    @include transition;
  }
}

.success {
  color: #282828;
  font-weight: 400;
}

.error {
  color: #ff0000;
  font-weight: 400;

  a {
    text-decoration: underline;
  }
}

.success,
.error {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 13px;
  text-align: left;
}

.getInTouch {
  margin-top: -8px;
  text-align: left;
  font-size: 13px;
  opacity: 0.5;
  letter-spacing: 0.03rem;
  font-weight: 400;
  color: rgba($body-color, 0.9);
  p {
    display: inline;
  }
  span {
    margin-right: 5px;
    a {
      text-decoration: underline;
      color: inherit;

      svg {
        margin-bottom: -2px;
      }
    }
  }
}
