// Import
// ===================================================
@import "../../styles/base/colors"; //colors
@import "../../styles/base/mixins"; //mixins

.recent-posts {
  border: solid $color-grey-a10 1px;
  margin: 0 0 2rem 0;
  background-color: $color-white-main;

  h3 {
    margin: 1rem 17px 0rem;
  }
}
.widget {
  &:last-child {
    margin-bottom: 0;
  }
}

.list-container {
  line-height: 1.6;
  margin-bottom: 0;
  font-size: 15px;

  li {
    line-height: 1.5;
    margin: 0;

    a {
      padding: 10px 17px;
      color: $color-light-blue;
      display: inline-block;
      @include transition;

      &:hover {
        color: $color-light-pink;
      }

      &[aria-current="page"] {
        background: $color-dark-a30;
        width: 100%;
      }
    }
  }
}

.sticky {
  @media screen and(min-width: 1200px) {
    top: 75px;
    position: sticky;
  }
}

.sign-up {
  border: 1px solid $color-grey-a10;
  padding: 2rem 17px;

  background: $color-white-main;
  margin-bottom: 2rem;
  font-size: 14px;

  @media screen and(min-width: 480px) {
    padding: 1.5rem 17px;
  }
}

.title {
  font-size: 1.1rem;
  line-height: 1.11667;
  position: relative;
  margin-bottom: 25px;

  &::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background: $color-light-blue;
    position: absolute;
    bottom: -20px;
    left: 21px;
    margin-top: 23px;
    margin-left: -1.25rem;
    @media screen and(min-width: 768px) {
      bottom: -12px;
    }
  }

  @media screen and(min-width: 768px) {
    line-height: 1.32778;
  }
}

.newsletterContent {
  @media screen and(min-width: 600px) {
    display: flex;
  }
  @media screen and(min-width: 960px) {
    flex-direction: column;
  }
}

.headingContent {
  @media screen and(min-width: 600px) {
    margin: 0 10px 0 0;
  }
  @media screen and(min-width: 960px) {
    margin-right: 0;
  }
}

.description {
  line-height: 1.6;
  margin-bottom: 1.5rem;
  font-size: 15px;
}

.getInTouch {
  margin-top: -8px;
  text-align: left;
  font-size: 13px;
  letter-spacing: 0.03rem;
  color: rgba($primary-color, 0.6);
  p {
    display: inline;
  }
  span {
    margin-right: 5px;
    a {
      text-decoration: underline;
      color: inherit;

      svg {
        margin-bottom: -2px;
      }
    }
  }
}
