// mixins
@mixin transition {
  transition: all 0.3s ease-out;
}

.recent-posts {
  border: solid #f2f2f2 1px;
  margin: 0 0 3.75rem 0;
  color: #33475b;
}
.widget {
  &:last-child {
    margin-bottom: 0;
  }
}

.list-container {
  line-height: 1.75em;
  margin-bottom: 0;
  padding: 1.5rem 0.75rem 1.5rem;
  font-weight: 300;

  a {
    //margin-right: 0.5625rem;
    color: #464646;
    @include transition;
    //display: block;

    &:hover {
      color: #f44f18;
    }
  }

  li {
    line-height: 1.5;
    margin: 0 0 0.9375rem 0;
    min-height: 3.125rem;

    &:first-child {
      margin-top: 0.4375rem;
    }

    &:last-child {
      margin-bottom: 0.4375rem;
    }

    .img-tumbnail {
      margin: 0.25rem 0.75rem 0 0;
      float: left;
      min-width: 5rem;
      height: auto;
      max-height: 3.125rem;
    }
  }

  @media screen and(min-width: 480px) {
    padding: 2.1875rem 2.5rem 2.625rem 2.5rem;
  }
  @media screen and(min-width: 960px) {
    padding: 2.1875rem 1.5rem 2.625rem 1.5rem;
  }
}

.sign-up {
  text-align: center;
  border: 1px solid #f2f2f2;
  padding: 40px 10px;

  background: #f5f8fa; // #fbfcfd;
  margin-bottom: 60px;
  font-size: 1rem;
  font-weight: 300;

  @media screen and(min-width: 480px) {
    padding: 3rem 1.5rem;
  }
  @media screen and(min-width: 1200px) {
    top: 100px;
    position: sticky;
  }
}

.title {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.11667;
  position: relative;
  //margin-bottom: 50px;

  // &::after {
  //   content: "";
  //   display: block;
  //   width: 41px;
  //   height: 2px;
  //   background: #f44f18;
  //   position: absolute;
  //   bottom: -29px;
  //   left: 50%;
  //   margin-top: 23px;
  //   margin-left: -1.25rem;
  // }

  @media screen and(min-width: 768px) {
    font-size: 2.1rem;
    line-height: 1.02778;
  }
}

.title,
.description {
  margin-left: auto;
  margin-right: auto;
  max-width: 18rem;
  @media screen and(min-width: 480px) {
    max-width: 20rem;
  }
  @media screen and(min-width: 600px) {
    max-width: 27rem;
  }
  @media screen and(min-width: 960px) {
    max-width: 250px;
  }
}

.description {
  line-height: 1.667;
  margin-bottom: 1.5rem;
}
.form-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 18rem;
  @media screen and(min-width: 480px) {
    max-width: 20rem;
  }
  @media screen and(min-width: 600px) {
    max-width: 27rem;
  }

  @media screen and(min-width: 960px) {
    max-width: 90%;
  }

  .name-field {
    text-transform: capitalize;
  }

  input,
  button {
    height: 50px;
    font-size: 15px;
    //font-size: 1rem;
    border-radius: 2px;
    outline: none;
  }
  input {
    padding: 0px 25px;
    border: 1px solid #dadadb; //#f2f2f2;
    margin-bottom: 4px;
    color: #444;
  }
  button {
    background-color: #f44f18;
    border: 1px solid #f44f18;
    opacity: 1;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    @include transition;

    &:hover {
      // background-color: rgba(#f55f2d, 0.7);
      // border: 1px solid #f55f2d;
      opacity: 0.8;
      cursor: pointer;
    }
  }
}

.guarantee {
  font-size: 0.74rem;
  text-align: center;
  padding: 0.7rem 0px 0px;
  display: block;
  opacity: 0.5;
  letter-spacing: 0.03rem;
}

.success {
  color: #282828;
  font-weight: 400;
}

.error {
  color: #ff0000;
  font-weight: 400;

  a {
    text-decoration: underline;
  }
}

.success,
.error {
  margin-top: 20px;
}

.nl {
  display: block;
  @media screen and (min-width: 600px) {
    display: none;
  }
}
