.wrapper {
  background: #f5f8fa;
  border: 1px #e7eef2 solid;
  padding: 1rem 10px;
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-column-gap: 10px;
  grid-template-areas:
    "image info"
    "image content";
  @media screen and (min-width: 768px) {
    grid-template-areas:
      "image info"
      "content content";
  }
}

.image {
  display: block;
  width: 120px;
  height: 120px;
  grid-area: image;
}

.info {
  font-weight: 600;
  line-height: 12px;
  grid-area: info;
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  span {
    color: #686868;
    display: block;
    margin-top: 9px;
    font-size: 12px;
  }
}

.content {
  grid-area: content;

  @media screen and (min-width: 768px) {
    margin-top: 8px;
  }

  p {
    margin: 0;
  }
}
