// =====================================================
// Hero
// ======================
@mixin transition {
  transition: all 0.5s linear;
}
$link-color: #ff7c3c;
$link-hover: #fb6318;
$main-white: #fff;
$plr: 1em;
$plrls: 2em;
$max-width: 76rem;

.homePageHero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-position: left !important;
  background-repeat: repeat !important;
  background-size: contain !important;
  padding-bottom: 4rem;

  @media screen and (min-width: 960px) {
    padding-bottom: 0;
  }
}

.hero-content {
  padding: 4rem $plr 0;
  text-align: center;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  color: $main-white;

  @media screen and (min-width: 768px) {
    padding-left: $plrls;
    padding-right: $plrls;
  }
  @media screen and (min-width: 960px) {
    padding-top: 6rem;
  }
}

.errorContent {
  padding: 4rem $plr;
  max-width: $max-width;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    padding-left: $plrls;
    padding-right: $plrls;
  }
}

.title {
  font-size: 2rem;
  margin-bottom: 1.45rem;
  line-height: 1.17647;
  font-weight: 600;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px;
  color: $main-white;

  @media screen and (min-width: 600px) {
    font-size: 2.4rem;
  }
}

.description {
  font-size: 0.95rem;
  margin: 0 auto;
  margin-bottom: 1.45rem;
  padding-top: 0;
  line-height: 1.6;
  max-width: 650px;
}

.additional,
.subscribe_container {
  font-size: 13px;
  line-height: 1.3rem;
  margin-bottom: 1.45rem;
  color: $main-white;
}

.subscribe_container {
  margin-top: 2rem;
  p {
    display: inline;
  }
}

.error-title {
  font-size: 2.5rem;
  line-height: 1.17647;
  font-weight: 700;
  text-transform: uppercase;

  @media screen and (min-width: 480px) {
    font-size: 2.8;
  }
}

.error-description {
  margin: 1em auto 0;
  font-size: 16px;
  line-height: 1.66667;

  @media screen and (min-width: 768px) {
    font-size: 17px;
  }

  a {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.btn_primary {
  font-size: 12px;
  text-transform: capitalize;
  &:hover,
  &:focus {
    background-color: #fb6318;
    border-color: #fb6318;
    color: $main-white;
  }
}

.arrow {
  background-color: #fff;
  border-radius: 100px;
  -webkit-box-shadow: 0 4px 8px #dadce0;
  box-shadow: 0 4px 8px #dadce0;
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 50px;
  color: #444;
  margin-bottom: 0;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    height: 58px;
    width: 58px;

    &:hover {
      svg {
        margin-bottom: -22px;
      }
    }
  }

  @media screen and (min-width: 960px) {
    margin-bottom: -20px;
  }

  svg {
    margin-bottom: -18px;
    margin-left: 16px;
    font-size: 17px;

    @media screen and (min-width: 768px) {
      margin-bottom: -24px;
      margin-left: 16px;
      font-size: 24px;
    }
  }
}
