// Import
// ===================================================
@import "../../styles/base/align"; //default padding left right max-width

.errorContent { 
  padding: 50px $plr;
  max-width: $max-width;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    padding-left: $plrls;
    padding-right: $plrls;
  }
}

.error-title {
  font-size: 2.5rem;
  margin-top: 3rem;
  line-height: 1.17647;
  font-weight: 700;
  text-transform: uppercase;

  @media screen and (min-width: 480px) {
    font-size: 2.8rem;
  }
}

.error-description {
  margin: 1em auto 0;
  font-size: 16px;
  line-height: 1.66667;

  @media screen and (min-width: 768px) {
    font-size: 17px;
  }

  a {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}