// Import
// ===================================================
@import "../../styles/base/colors"; //colors
@import "../../styles/base/mixins"; //mixins

.navigatePosts {
  a {
    color: $primary-color;
    margin-right: 15px;
    margin-bottom: 10px;
    display: inline-block;
    @include transition;
    padding: 8px;

    &:hover {
      background-color: $color-dark-a30;
    }
  }
}
.arrow {
  font-size: 10px;
}
.previous {
  margin-left: 7px;
}
.next {
  margin-right: 7px;
}
