// post tags
.tag-links {
  margin-top: 2.5rem;
  ul {
    margin-bottom: 10px;
  }
}
.post-tags {
  display: flex;
  list-style: none;
  flex-flow: wrap;

  li {
    margin-right: 0.46rem;
    margin-bottom: 0.66rem;
    a {
      text-decoration: none;
      font-size: 0.755rem;
      padding: 4px 7px 6px;
      border-radius: 0.24rem;
      line-height: 1;
      span {
        opacity: 0.4;
      }
    }
  }
}

.entry-header .title {
  font-size: 1.6rem;
  line-height: 1.23333;
  margin: 0 0 1.2rem;
  font-weight: 700;

  @media screen and (min-width: 480px) {
    font-size: 1.8rem;
  }

  @media screen and (min-width: 960px) {
    font-size: 2.1rem;
  }
}
