/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ================ 
Globals 
===============================*/
/* base styles */
@layer base {
  body {
    @apply font-base text-lg text-[#232629] font-normal leading-[1.75];
  }
  html {
   @apply scroll-smooth;
  }
  .prose  p, .prose li {
    @apply text-base sm:text-lg ;
  }
  h1, h2, h3, h4 { 
    @apply font-heading 
  }
  .prose  h2 {
    @apply text-2xl lg:text-[1.8rem] lg:leading-9;
  }
  .prose  h3 {
    @apply text-xl lg:text-2xl;
  }
  .prose pre {
    @apply text-sm leading-[1.625] text-[92%];
  }
  .prose code {
    @apply text-sm;
  }
  img {
    @apply block mx-auto;
  }
}

/* components classes */
@layer components {
  /* Headings # link */
  .prose .anchor {
    @apply absolute invisible no-underline text-gray-400 border-none ml-2 mt-2 text-2xl;
  }
  
  .prose *:hover > .anchor {
    @apply visible;
  }

  .about .prose p, .about .prose li, .contact .prose p{
    @apply text-base sm:text-lg;
  }
}

@layer utilities {

  .shareIconStyle {
    @apply text-[20px] lg:text-[16px] text-white rounded-full p-[10px] hover:opacity-50 transition mr-7 lg:mr-0 mb-[10px] h-10 w-10 lg:h-[30px] lg:w-[30px] lg:p-2;
  }

  .grid-custom {
    grid-template-columns: 60px 1fr;
  }
  .grid-custom-col-sm {
    grid-template-columns: 60px 1fr 1fr;
  }
  .custom_transform {
    transform: translate3d(-100%, 0, 0);
  }
  .show-nav {
    visibility: visible;
    transition: transform 0.35s cubic-bezier(0.24, 1, 0.32, 1),
      -webkit-transform 0.35s cubic-bezier(0.24, 1, 0.32, 1);
    transform: translate3d(0, 0, 0);
  }
  .cust_translateZ {
    transform: translateZ(0);
  }
  .custom_heading_style .custom_heading {
    text-align: center;
  }

  .custom_heading_style .custom_heading > *  {
    color: #fff;
  }

  .note-style, .note-style ul {
    margin: 0;
  }
  .note-style li, .note-style ul li {
    list-style: none;
    position: relative;
  }

  .note-style li::after, .note-style ul li::after {
    list-style: none;
    display: block;
    content: "✔︎";
    position: absolute;
    left: -20px;
    top: 0px;
    font-size: 17px;
  }

  @media screen and (min-width: 640px) {
    .custom_layout {
      position: relative;
    }
  
    .custom_layout::after {
      display: block;
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      top: 0;
      left: 50%;
      background: linear-gradient(to top, #fff, #e9e9e9 50%, #fff);
    } 
  }
  
  .custom_layout .no_border {
    /* border: none;
    border-radius: initial; */
    box-shadow: none;
  }

  .custom_layout .no_border:hover {
    background: #f2f2f2;
  }

  .custom_layout .custom_pad {
    padding: 1.5rem;
  }

  @media screen and (min-width: 640px) {
    .custom_layout .custom_pad {
      padding: 2.5rem;
    }
  }

  .custom_layout .no_border p {
    font-size: 15px;
    color: #2b2b2b;
  }

  .custom_bg {
    background: linear-gradient(180deg, #fff 10%, #e9e9e9);  
  }

  /* Header */
  .custom_shadow {
    /* box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
      0 4px 6px -2px rgba(71, 63, 79, 0.16); */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),0 4px 6px -2px rgba(0, 0, 0, 0.05);;
  }

  /* Blog post */
  /* Series posts links */
  .prose ul > li.seriesLinkItem::before {
    content: normal;
  }
  @media screen and (min-width: 640px) {
    .seriesLinkItem {
      width: calc(50% - 12px);
    }
  } 

  /* Custom post page layout */
  @media screen and (min-width: 1024px) {
    .post_wrap {
      grid-template-columns: 100px minmax(0, 1fr) 300px;
      grid-template-areas: "aside main div" "aside section div";
    }
    .post_main {
      grid-area: main;
      margin: 0;
    }
    .post_aside {
      grid-area: aside;
      margin: 0;
    }
    .post_aside_right {
      grid-area: div;
      margin: 0;
    }
    .post_additonal_section {
      grid-area: section;
      margin: 40px 0 0;
    }
  }

  /* contact */
  .selectField {
    appearance: none;
    cursor: pointer;
    background: rgb(255, 255, 255)
      url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
      no-repeat scroll right 1.3rem center / 8px 10px;
  }
}
