/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ================ 
Globals 
===============================*/
/* base styles */
@layer base {
  body {
    @apply text-[#232629] font-normal leading-[1.75] tracking-[0.1px];
  }
  html {
   @apply scroll-smooth;
  }
  .prose  p, .prose li {
    @apply text-lg sm:leading-[1.6] tracking-normal;
  }
  .prose  h2 {
    @apply text-2xl lg:text-[1.8rem] lg:leading-9;
  }
  .prose  h3 {
    @apply text-xl lg:text-2xl;
  }
  .prose code, .prose pre {
    @apply text-sm leading-[1.625] text-[92%];
  }
  img {
    @apply block mx-auto;
  }
  blockquote {
    @apply border-l-[#3182ce]
  }
}

/* components classes */
@layer components {
  /* Headings # link */
  .prose .anchor {
    @apply absolute invisible no-underline text-gray-400 border-none ml-2 mt-2 text-2xl;
  }
  
  .prose *:hover > .anchor {
    @apply visible;
  }

  .about .prose p, .about .prose li, .contact .prose p{
    @apply text-[15.4px] sm:text-base;
  }
}

@layer utilities {

  .shareIconStyle {
    @apply text-[20px] text-white rounded-full p-[10px] hover:opacity-50 transition mr-7 mb-[10px] h-10 w-10;
  }

  .grid-custom {
    grid-template-columns: 60px 1fr;
  }
  .grid-custom-col-sm {
    grid-template-columns: 60px 1fr 1fr;
  }
  .custom_transform {
    transform: translate3d(-100%, 0, 0);
  }
  .show-nav {
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
  .cust_translateZ {
    transform: translateZ(0);
  }
  .custom_heading_style .custom_heading {
    text-align: center;
  }

  .custom_heading_style .custom_heading > *  {
    color: #fff;
  }

  .note-style, .note-style ul {
    margin: 0;
  }
  .note-style li, .note-style ul li {
    list-style: none;
    position: relative;
  }

  .note-style li::after, .note-style ul li::after {
    list-style: none;
    display: block;
    content: "✔︎";
    position: absolute;
    left: -20px;
    top: 0px;
    font-size: 17px;
  }

  /* Header */
  .custom_shadow {
    box-shadow: 0 0.4rem 2.4rem 0 rgb(0 0 0 / 8%);
  }

  /* Blog post */
  /* Series posts links */
  .prose ul > li.seriesLinkItem::before {
    content: normal;
  }
  @media screen and (min-width: 640px) {
    .seriesLinkItem {
      width: calc(50% - 12px);
    }
  } 

  /* Custom post page layout */
  @media screen and (min-width: 1024px) {
    .post_wrap {
      grid-template-columns: minmax(0, 1fr) 300px;
      grid-template-areas: "main aside" "section aside";
    }
    .post_main {
      grid-area: main;
      margin: 0;
    }
    .post_aside {
      grid-area: aside;
      margin: 0;
    }
    .post_additonal_section {
      grid-area: section;
      margin: 40px 0 0;
    }
  }

  /* contact */
  .selectField {
    appearance: none;
    cursor: pointer;
    background: rgb(255, 255, 255)
      url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
      no-repeat scroll right 1.3rem center / 8px 10px;
  }
}
