$link-color: #e55e34;
$border-color: #f0f0f0;
$sidebar-bg-color: #fff; //#edeff1;

.listContainer {
  border: 1px solid $border-color;
  ul {
    padding: 1.25rem 17px;
    font-size: 0.92rem;
    line-height: 28px;
    background-color: $sidebar-bg-color;
    margin: 0;
    li {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
    a {
      color: inherit;
      .hot {
        float: left;
        font-size: 12px;
        width: 14px;
        height: 14px;
        margin-right: 10px;
        svg {
          margin-bottom: -2px;
        }
      }
      &:hover,
      &:focus {
        color: $link-color;
      }
    }
  }
}

.subTitle {
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 700;
  font-size: 20px;
  border-bottom: 1px solid $border-color;
  padding: 1.25rem 0;
}

.image-container {
  width: 17px;
  height: 17px;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: -1px;
}
