$link-color: #e55e34;
$sidebar-bg-color: #fff; //#edeff1;

.listContainer {
  ul {
    border: 1px solid #f0f0f0;
    padding: 12px 17px;  
    font-size: .94rem;
    line-height: 28px;
    background-color: $sidebar-bg-color;

    @media screen and(min-width: 960px) {
      padding: 10px 17px;
    }
    li {
      margin-bottom: 10px;
      @media screen and(min-width: 960px) {
        margin-bottom: 5px;
      }
      &:last-child {
        margin-bottom: 0px;
      }
    }
    a {
      color: inherit;
      .hot {
        float: left;
        font-size: 13px;
        width: 14px;
        height: 14px;
        margin-right: 10px;
        svg {
          margin-bottom: -2px;
        }
      }
      &:hover,
      &:focus {
        color: $link-color;
      }
    }
  }
}

.subTitle {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 700;
  font-size: 20px;
  @media screen and(min-width: 1200px) {
    margin-bottom: 12px;
  }
}

.image-container {
  width: 17px;
  height: 17px;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: -1px;
}
