$primary-color: #1c1e21;
$dark-color: #1c1e21;
$color-white-main: rgb(255, 255, 255);
$color-dark-main: #000000;
$color-dark-a30: rgba(0, 0, 0, 0.03);
$color-dark-a70: #333;
$color-white-a80: rgba(255, 255, 255, 0.878);
$color-light-pink: #ff7a59;
$color-dark-pink: #be4818;
$color-bg-dm-pry: rgb(28, 30, 33);
$color-bg-dm-secondary: #202326;
$color-lighter-blue: #58a6ff;
$color-light-blue: #195faa;
$color-dark-blue: #105b94;
$color-white-a20: rgba(255, 255, 255, 0.2);
$color-grey: #606770;
$color-grey-a80: #8e8e8e;
$color-grey-a90: #e8e8e8;
$color-grey-a40: #cddce1;
$color-grey-a30: #f7f7f7;
$color-grey-a20: #f6f8fa;
$color-grey-a10: #f0f0f0;
