$primary-color: #282829;
$dark-color: #202124;
$color-white-main: #ffffff;
$color-dark-main: #000000;
$color-dark-a30: rgba(0, 0, 0, 0.03);
$color-dark-a70: #3e3e3e;
$color-white-a80: rgba(255, 255, 255, 0.878);
$color-light-pink: #ff7c3c;
$color-dark-pink: #fb6318;
$color-bg-dm-pry: rgb(36, 41, 46); 
$color-bg-dm-secondary: #282e33;
$color-light-blue: #195faa;
$color-dark-blue: #105b94;
$color-white-a20: rgba(255, 255, 255, 0.2);
$color-grey: #636466;
$color-grey-a80: #8e8e8e;
$color-grey-a40: #c6ccce;
$color-grey-a30: #dee0e1;
$color-grey-a20: #f6f8fa;
$color-grey-a10: #f0f0f0;
