$footer-bg-color: #1d2b35; //#fdfdfd;
$main-white: #fff;
$color: #94a1af;
$footer-link: #94a1af;
$content-max-width: 72rem;

.site-footer {
  background: $footer-bg-color;
  font-size: 0.8rem;
  // text-align: center;
  border-top: 1px solid #f8f8f8;
  line-height: 1.375rem;
  letter-spacing: 0.01562rem;
  color: $color;
}

.container {
  max-width: $content-max-width;
  margin: 0 auto;
  padding: 0 15px;
}
.ftTop {
  margin: 35px 0;
}

.openSource {
  text-align: left;
  h3 {
    font-size: 1.25rem;
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 20px;
  }
  a {
    color: inherit;
    text-decoration: underline;
  }
}

.startHere {
  p {
    padding-bottom: 12px;
  }
  a {
    font-size: 10px;
    line-height: 1.66667;
    padding: 17px 20px 15px 20px;
    letter-spacing: 0.16em;
    border: 1px solid #fff;
    text-decoration: none !important;
    // width: auto;
    // min-width: 140px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    border-radius: 2px;

    &:hover,
    &:focus {
      background-color: #fff;
      color: #000;
    }
  }
}

.ftBottom {
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-top: 1px solid hsla(0, 0%, 100%, 0.1);
  padding-top: 2rem;
  padding-bottom: 2rem;

  @media screen and (min-width: 768px) {
    height: 6rem;
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;

    flex-direction: row;
    justify-content: space-between;
  }
}

.copy {
  margin: 0;
  letter-spacing: 0.05em;
}
.socialList {
  display: flex;
  margin: 0;
  margin-bottom: -6px;
}
.socialItem {
  font-size: 1.4rem;
  line-height: 1.66667;
  opacity: 0.8;
  margin: 20px 20px 0 0;
  vertical-align: baseline;

  @media screen and (min-width: 768px) {
    margin: 0 0 0 26px;
    font-size: 1.2rem;
  }

  a {
    color: $footer-link;
    // opacity: 0.8;

    &:hover {
      color: $main-white;
      // opacity: 1;
    }
  }
}

.social {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.check-me {
  position: relative;
  margin-top: 19px;

  @media screen and (min-width: 768px) {
    margin-top: 0;
    padding-right: 46px;

    &::after {
      content: "";
      display: block;
      width: 27px;
      height: 1px;
      background: $color;
      position: absolute;
      top: 50%;
      margin-top: -1px;
      right: 0;
      opacity: 0.5;
    }
  }
}
