$footer-bg-color: #f2f3f5;
$color: #586069;
$footer-link: #586069;
$content-max-width: 76rem;
$main-white: #ffffff;
$link-color: #ff7c3c;
$link-hover: #fb6318;
$plr: 1em;
$plrls: 2em;

.site-footer {
  background: $footer-bg-color;
  font-size: 13px;
  border-top: 1px solid #eaeaea;
  line-height: 1.375rem;
  letter-spacing: 0.01562rem;
  color: $color;
}

.container {
  max-width: $content-max-width;
  margin: 0 auto;
  padding: 0 $plr;
  @media screen and (min-width: 768px) {
    padding: 0 $plrls;
  }
}

.content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 600px) {
    height: 4rem;
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: row;
    justify-content: space-between;
  }

  a {
    color: $footer-link;

    &:hover {
      color: $link-color;
    }
  }
}

.list {
  margin-bottom: 20px;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;

  @media screen and (min-width: 600px) {
    margin-bottom: 0;
  }

  li {
    margin-right: 12px;

    &:not(:nth-last-child(-n + 1)) {
      &:after {
        margin-left: 12px;
        content: "|";
      }
    }
  }
  .author {
    text-decoration: underline;
  }
}

.social {
  .socialList {
    display: flex;
    margin: 0;
    margin-bottom: -6px;
  }
  .socialItem {
    font-size: 1.5rem;
    line-height: 1.66667;
    opacity: 0.8;
    margin: 0 12px 0;

    @media screen and (min-width: 600px) {
      margin: 0 0 0 26px;
      font-size: 1.2rem;
    }
  }
}
