// Import
// ===================================================
@import "../../styles/base/colors"; //colors
@import "../../styles/base/mixins"; //mixins
@import "../../styles/base/align"; //default padding left right max-width

.site-footer {
  background: $color-bg-dm-secondary;
  font-size: 14px;
  border-top: 1px solid rgba($color-grey-a30, 0.6);
  line-height: 1.375rem;
  letter-spacing: 0.01562rem;
  color: $color-white-a80;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $plr;
  @media screen and (min-width: 768px) {
    padding: 0 $plrls;
  }
}

.content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    height: 4rem;
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: row-reverse;
  }

  a {
    color: $color-white-a80;
    font-weight: 400;
    @include transition;
    &:hover {
      color: $color-lighter-blue;
    }
  }
}

.list {
  margin-bottom: 20px;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  flex-flow: wrap;
  justify-content: center;
  line-height: 28px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  li {
    margin-right: 12px;

    &:not(:nth-last-child(-n + 1)) {
      &:after {
        margin-left: 12px;
        content: "|";
      }
    }
  }
}

.copyright {
  p {
    margin: 0;
  }
}

.social {
  height: 6rem;

  @media screen and (min-width: 768px) {
    height: 3.5rem;
  }

  .socialList {
    display: flex;
    justify-content: center;
    margin: 0;

    @media screen and (min-width: 768px) {
      justify-content: flex-end;
    }
  }
  .socialItem {
    font-size: 1.5rem;
    line-height: 1.66667;
    opacity: 0.8;
    margin: 0 12px 0;

    a {
      color: $color-white-a80;
    }

    @media screen and (min-width: 600px) {
      font-size: 1.2rem;
    }
  }
}
