$header-bg-color: #373636;
$main-white: #fff;
$white-a80: hsla(0, 0%, 100%, 0.878);
$nav-link: $white-a80;
$content-max-width: 76rem;
$plr: 1em;
$plrls: 2em;
$link-color: #ff7c3c;

// mixins
@mixin transition {
  transition: all 0.35s ease-out;
  -webkit-transition: all 0.35s ease-out;
  -moz-transition: all 0.35s ease-out;
  -ms-transition: all 0.35s ease-out;
  -o-transition: all 0.35s ease-out;
}

// No Scroll on Menu toggle on Mobile
.noScroll {
  overflow-y: hidden;
}

.container {
  background: $header-bg-color;
  height: 50px;
  color: $main-white;
  z-index: 9;
  width: 100%;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.01),
    inset 0 -1px 0 0 rgba(255, 255, 255, 0.1);
}

.headerContentWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    max-width: $content-max-width;
    margin: 0 auto;
    padding-right: $plrls;
    padding-left: $plrls;
  }
}

.contentRight {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    color: $nav-link;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 50px;
    text-align: center;
    margin-right: 10px;
  }
  svg {
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
}

.darkLight {
  background: inherit;
  border: none;
  cursor: pointer;
  outline: none;
  svg {
    color: $nav-link;
  }

  .themeMode {
    padding: 0 $plr 0 8px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    @media screen and (min-width: 768px) {
      padding: 0 0 0 8px;
    }

    &.moon {
      svg {
        width: 19px;
        height: 16px;
        margin-right: 2px;
      }
    }

    &.sun {
      svg {
        margin-right: 2px;
        width: 19px;
        height: 19px;
      }
    }
  }
}

.brandContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row-reverse;

  @media screen and (min-width: 768px) {
    justify-content: normal;
    flex-flow: unset;
  }
}

.brand {
  margin-left: 10px;
  @media screen and (min-width: 768px) {
    margin: 0px;
  }
}

.brand-link {
  img {
    width: 40px;
    height: auto;
    margin: 0;
  }
}

.nav-link {
  display: block;
  line-height: 1.3125rem;
  color: $white-a80;
  letter-spacing: -0.03em;
  text-decoration: none;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 400;
  padding: 16px 1em;

  &:hover,
  &:focus {
    color: $link-color !important;
    @media screen and (min-width: 768px) {
      color: $nav-link !important;
    }
  }

  &.active-nav-item {
    color: $link-color !important;
    @media screen and (min-width: 768px) {
      opacity: 1;
      color: $nav-link !important;
    }
  }

  @media screen and (min-width: 768px) {
    display: inline-block;
    padding: 6px 0;
    font-size: 14px;
    position: relative;
    text-transform: capitalize;
    opacity: 1;

    &::after {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background: $nav-link;
      opacity: 0;
      @include transition;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }

    &.active-nav-item {
      &::after {
        opacity: 1;
      }
    }
  }
}

// Navigation Menu
// =================================================

.menu__btn div,
.menu__nav button {
  background-color: var(--main-white);
  opacity: 0.8;
}

.menu-btn {
  position: relative;
  cursor: pointer;
  width: 60px;
  height: 50px;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 99;
  @media screen and (min-width: 768px) {
    display: none;
  }

  &.is-opened {
    .btn-line {
      &:nth-of-type(1) {
        transform: rotate(45deg);
        top: 24px;
      }
      &:nth-of-type(2) {
        transform: rotate(-45deg);
        bottom: 24px;
      }
      &:nth-of-type(3) {
        opacity: 0;
      }
    }
  }
}

.btn-line {
  position: absolute;
  display: block;
  background: $white-a80;
  width: 28px;
  right: 17px;
  height: 2px;
  @include transition;

  &:nth-of-type(1) {
    transform: rotate(0deg);
    top: 17px;
  }
  &:nth-of-type(2) {
    transform: rotate(0deg);
    bottom: 24px;
  }
  &:nth-of-type(3) {
    transform: rotate(0deg);
    bottom: 17px;
  }
}

.menu-nav {
  overflow-y: scroll;
  background: $header-bg-color;
  height: 0;
  padding: 0;
  margin: 0;
  text-align: left;
  z-index: 0;
  width: 100%;
  @include transition;
  list-style: none;
  position: relative;

  &.show-menu {
    height: 100vh;
    z-index: 9;
  }

  @media screen and (min-width: 768px) {
    position: static;
    display: flex;
    overflow-y: initial;
    flex-direction: row;
    max-width: 100%;
    width: auto;
    height: inherit;
    padding: 0;
    margin: 0;
    background: none !important;
  }
}

// .brand,
.navbar {
  width: 100%;
  order: 2;
  @media screen and (min-width: 768px) {
    order: 0;
    height: auto;
    width: auto;
  }
}

.spacer {
  flex: 1;
}

.nav-item {
  @media screen and (min-width: 768px) {
    margin: 0;
  }
  &:nth-of-type(1) {
    margin-top: 2rem;
    @media screen and (min-width: 768px) {
      margin-top: 0;
    }
  }

  @media screen and (min-width: 768px) {
    margin-left: 2.5rem;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 3.4rem;
  }
}

// top bar

.main_flashes {
  display: block;
  width: 100%;
}

.flash_message {
  background: $main-white;
  padding: 5px $plr;
  text-align: center;

  p {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    margin: 0;
    @media screen and (min-width: 600px) {
      font-size: 14px;
    }
  }
}
