$header-bg-color: #ffffff;
$main-white: #fff;
$base-a80: rgba(9, 10, 11, 0.8);
$nav-link: $base-a80;
$content-max-width: 76rem;
$plr: 1em;
$plrls: 2em;
$link-color: #e55e34;
$nav-btn-color: #1b1b1b;

// mixins
@mixin transition {
  transition: all 0.35s ease-out;
  -webkit-transition: all 0.35s ease-out;
  -moz-transition: all 0.35s ease-out;
  -ms-transition: all 0.35s ease-out;
  -o-transition: all 0.35s ease-out;
}

// No Scroll on Menu toggle on Mobile
.noScroll {
  overflow-y: hidden;
}

.container {
  background: $header-bg-color;
  height: 56px;
  color: $main-white;
  z-index: 9;
  width: 100%;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.01), inset 0 -1px 0 0 #dadce0;
}

.headerContentWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  @media screen and (min-width: 768px) {
    max-width: $content-max-width;
    margin: 0 auto;
    padding-right: $plrls;
    padding-left: $plrls;
  }
}

.contentRight {
  display: flex;
  align-items: center;
  justify-content: center;
  // z-index: 99;

  a {
    color: $nav-link;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 56px;
    text-align: center;
    margin-right: 10px;
  }
  svg {
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
}

.darkLight {
  background: inherit;
  border: none;
  cursor: pointer;
  outline: none;
  svg {
    color: $nav-link;
  }

  .themeMode {
    padding: 0 $plr 0 8px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    @media screen and (min-width: 768px) {
      padding: 0 0 0 8px;
    }

    &.moon {
      svg {
        width: 19px;
        height: 16px;
        margin-right: 2px;
      }
    }

    &.sun {
      svg {
        margin-right: 2px;
        width: 19px;
        height: 19px;
      }
    }
  }
}

.content {
  display: flex;
  height: 100%;
  padding: 0;
  align-items: center;
  max-width: $content-max-width;
  margin: 0 auto;
  justify-content: flex-start;
  flex-flow: row-reverse;

  @media screen and (min-width: 768px) {
    justify-content: normal;
    flex-flow: unset;
  }
}

.brand {
  margin-left: 10px;
  // z-index: 99;
  @media screen and (min-width: 768px) {
    margin: 0px;
  }
}

.brand-link {
  img {
    width: 40px;
    height: auto;
    margin: 0;
  }
}

.nav-link {
  display: block;
  line-height: 1.3125rem;
  color: $nav-link;
  letter-spacing: -0.03em;
  text-decoration: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
  padding: 16px 1em;

  &:hover,
  &:focus {
    color: $link-color !important;
    @media screen and (min-width: 768px) {
      color: $nav-link !important;
    }
  }

  &.active-nav-item {
    color: $link-color !important;
    @media screen and (min-width: 768px) {
      opacity: 1;
      color: $nav-link !important;
    }
  }

  @media screen and (min-width: 768px) {
    display: inline-block;
    padding: 6px 0;
    font-size: 0.9rem;
    position: relative;
    opacity: 1;

    &::after {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background: $nav-link;
      opacity: 0;
      @include transition;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }

    &.active-nav-item {
      &::after {
        opacity: 1;
      }
    }
  }
}

// Navigation Menu
// =================================================

.menu-btn {
  position: relative;
  cursor: pointer;
  width: 60px;
  height: 56px;
  background: transparent;
  border: none;
  outline: none;
  z-index: 99;
  @media screen and (min-width: 768px) {
    display: none;
  }

  &.is-opened {
    .btn-line {
      &:nth-of-type(1) {
        transform: rotate(45deg);
        top: 27px;
      }
      &:nth-of-type(2) {
        transform: rotate(-45deg);
        bottom: 27px;
      }
      &:nth-of-type(3) {
        opacity: 0;
      }
    }
  }
}

.btn-line {
  position: absolute;
  display: block;
  background: $nav-btn-color;
  width: 28px;
  right: 17px;
  height: 2px;
  @include transition;

  &:nth-of-type(1) {
    transform: rotate(0deg);
    top: 21px;
  }
  &:nth-of-type(2) {
    transform: rotate(0deg);
    bottom: 27px;
  }
  &:nth-of-type(3) {
    transform: rotate(0deg);
    bottom: 20px;
  }
}

.menu-nav {
  position: fixed;
  font-family: "Roboto", "Lato", "Segoe UI", sans-serif;
  overflow-y: scroll;
  background: $header-bg-color;
  left: 0;
  height: 0;
  top: 0;
  // margin-top: 56px;
  padding: 0;
  text-align: left;
  z-index: 0;
  width: 100%;
  @include transition;
  list-style: none;

  &.show-menu {
    height: 100%;
  }

  @media screen and (min-width: 768px) {
    position: static;
    display: flex;
    overflow-y: initial;
    flex-direction: row;
    max-width: 100%;
    width: auto;
    height: inherit;
    padding: 0;
    margin: 0;
    background: none !important;
  }
}

// .brand,
.navbar {
  z-index: 11;
  height: 56px;
  @media screen and (min-width: 768px) {
    height: auto;
  }
}

.nav-item {
  @media screen and (min-width: 768px) {
    margin: 0;
  }
  &:nth-of-type(1) {
    margin-top: 10rem;
    @media screen and (min-width: 768px) {
      margin-top: 0;
    }
  }

  @media screen and (min-width: 768px) {
    margin-left: 2.5rem;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 3.4rem;
  }
}

// top bar

.main_flashes {
  display: block;
  width: 100%;
}

.flashe_message {
  background: #333;
  color: $main-white;
  padding: 10px $plr;
  text-align: center;

  p {
    font-size: 16px;
    line-height: 20px;
    color: $main-white;
    text-align: center;
    margin: 0;
  }
}
