// Import
// ===================================================
@import "../../styles/base/colors"; //colors
@import "../../styles/base/align"; //default padding left right max-width

// No Scroll on Menu toggle on Mobile
.noScroll {
  overflow-y: hidden;
}

.container {
  background: $color-white-main none repeat scroll 0% 0%;
  border-bottom: 1px solid $color-grey-a30;
  height: 60px;
  z-index: 9;
  width: 100%;
  box-shadow: 0 3px 6px rgba($color-dark-main, 0.04);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.scrolled {
  .container {
    @media screen and (min-width: 768px) {
      background: $color-white-main none repeat scroll 0% 0%;
      border-bottom: 1px solid $color-grey-a30;
      box-shadow: 0 3px 6px rgba($color-dark-main, 0.04);
      a {
        color: $color-dark-a70;

        &:hover {
          color: $color-dark-a70 !important;
        }
      }
      svg {
        color: $color-grey;

        &:hover {
          color: $color-grey !important;
        }
      }
    }
  }
}

.headerContentWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    max-width: $max-width;
    margin: 0 auto;
    padding-right: $plrls;
    padding-left: $plrls;
  }
}

.contentRight {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    color: $color-dark-a70;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 50px;
    text-align: center;
    margin-right: 10px;

    @media screen and (min-width: 480px) {
      margin-right: 15px;
    }

    &:hover {
      svg {
        opacity: 1;
      }
    }
  }
  svg {
    opacity: 0.8;
  }
}

.darkLight {
  background: inherit;
  border: none;
  cursor: pointer;
  outline: none;

  &:hover {
    svg {
      opacity: 1;
    }
  }
  svg {
    color: $color-dark-a70;
    opacity: 0.8;
  }

  .themeMode {
    padding: 0 $plr 0 8px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    @media screen and (min-width: 768px) {
      padding: 0 0 0 8px;
    }

    &.moon {
      svg {
        width: 19px;
        height: 16px;
      }
    }

    &.sun {
      svg {
        width: 19px;
        height: 19px;
      }
    }
  }
}

.brandContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row-reverse;

  @media screen and (min-width: 768px) {
    justify-content: normal;
    flex-flow: unset;
  }
}

.brand {
  margin-left: 5px;
  @media screen and (min-width: 768px) {
    margin: 0px 20px 0 0;
  }
}

.brand-link {
  img {
    width: 35px;
    height: auto;
    margin: 0;
  }
}

.nav-link {
  display: block;
  line-height: 1.3125rem;
  color: $color-dark-a70;
  letter-spacing: -0.03em;
  text-decoration: none;
  font-size: 1.15rem;
  text-transform: capitalize;
  font-weight: 400;
  padding: 12px 1.5em;

  &:hover {
    color: $color-dark-pink !important;
    @media screen and (min-width: 768px) {
      color: $color-dark-a70 !important;
      background-color: $color-dark-a30;
    }
  }

  &.active-nav-item {
    color: $color-dark-pink !important;
    @media screen and (min-width: 768px) {
      opacity: 1;
      color: $color-dark-pink !important;
    }
  }

  @media screen and (min-width: 768px) {
    display: inline-block;
    font-size: 16px;
    position: relative;
    color: $color-dark-a70;
    font-weight: 400;
    text-transform: capitalize;
    opacity: 1;
    padding: 20px 20px 18px;

    &::after {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      right: 0;
      bottom: 0;
      height: 2px;
      background: $color-dark-pink;
      opacity: 0;
    }

    &.active-nav-item {
      &::after {
        opacity: 1;
      }
    }
  }
}

// Navigation Menu
// =================================================

.menu__btn div,
.menu__nav button {
  background-color: var(--main-white);
  opacity: 0.8;
}

.menu-btn {
  position: relative;
  cursor: pointer;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 99;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &.is-opened {
    .btn-line {
      width: 23px;
      &:first-child {
        transform: rotate(45deg);
        top: 22px;
      }
      &:nth-child(2) {
        width: 0;
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
        top: 38px;
      }
    }
  }
}

.btn-line {
  display: block;
  position: absolute;
  height: 2px;
  width: 20px;
  left: 15px;
  background: $primary-color;
  border-radius: 9px;
  opacity: 1;
  transform: rotate(0deg);

  &:first-child {
    top: 23px;
    transform-origin: left center;
  }
  &:nth-child(2) {
    top: 29px;
    transform-origin: left center;
  }
  &:nth-child(3) {
    top: 35px;
    transform-origin: left center;
  }
}

.menu-nav {
  overflow-y: scroll;
  background: $color-white-main;
  height: 0;
  padding: 0;
  margin: 0;
  text-align: left;
  z-index: 0;
  width: 100%;
  list-style: none;
  position: relative;

  &.show-menu {
    height: 100vh;
    z-index: 9;
  }

  @media screen and (min-width: 768px) {
    position: static;
    display: flex;
    overflow-y: initial;
    flex-direction: row;
    max-width: 100%;
    width: auto;
    height: inherit;
    padding: 0;
    margin: 0;
    background: none !important;
  }
}

// .brand,
.navbar {
  width: 100%;
  order: 2;
  @media screen and (min-width: 768px) {
    order: 0;
    height: auto;
    width: auto;
  }
}

.spacer {
  flex: 1;
}

.nav-item {
  @media screen and (min-width: 768px) {
    margin: 0;
  }
  &:nth-of-type(1) {
    margin-top: 2rem;
    @media screen and (min-width: 768px) {
      margin-top: 0;
    }
  }
}
